include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "service"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/slick-theme.css")
        link(rel="stylesheet" href=rootPath + "asset/css/slick.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-service.css")

    body.service
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href="") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href="") Service 

                .l-col.l-col--sp
                    h2.c-h1 サービス
                    .c-category: img(src="image/category-service.png" alt="")

            //- =================================================================================================

            .l-frame
                .l-frame--md.l-col.t-cover.c-frombottom
                    .t-sentence
                        h3.c-h5
                            |対前年比300%の成長。
                            br
                            |新しいビジネスモデル
                            br
                            |「シェアリング型統合マーケティング事業」を展開。
                        .t-graph__image.t-graph__image--small.u-hidden-pc: img(src="image/graph01.png")
                        .t-sentence__block
                            .c-p 私たちBLEACHは、2010年4月に設立され、様々な事業を行ってきました。2016年、DtoC（Direct to Consumer：消費者に商品を直接届けるモデル）領域に特化した「シェアリング型統合マーケティング事業」を始め、業績が急速に拡大。シェアリング型統合マーケティング事業は、2つの点で従来のインターネット広告事業とは明確に異なります。
                        .t-sentence__block
                            .c-p 1点目は、先行して広告配信し、リスクを取ってマーケティング活動を行うこと。通常、広告代理店は、お客様からの広告出稿のみを受注する立場ですが、私たちはお客様と同じ立場で、商品のマーケティングの全てを担えます。この一連のストーリーづくりに強みがありますので、無名の商品でも、市場に求められているものであれば、多くの購買者を獲得することができます。2点目は、「シェアリング型」の名の通り、お客様と商品の売上をシェアすることで、Feeをいただくこと。BLEACHには、「広告費」という概念は存在しません。お客様と同じゴールを目標に邁進することができるのです。
                        .t-sentence__block
                            .c-p この事業を始めた翌2017年には、対前年比300％以上の急成長を遂げました。お客様の商材から、BLEACHのマーケティング施策を通じて、ヒット商品が多数生まれたことがその要因です。私たちの役割を「ヒットの請負人」と理解していただいても構いません。
                        .t-sentence__block
                            .c-p そして、今後の会社としての戦略なのですが、まずは、この「シェアリング型統合マーケティング事業」で、日本一を目指しています。そして、BLEACHはさらなる進化も視野に入れています。この成長の過程で培われた「マーケティング力」「人材」「資金」。これらを新しい事業や海外展開に投資をするのが、現在のBLEACHの戦略です。すでに自社の強みを活かした、様々な新規事業を検討・開発中。「商売を大きく。 日本から世界へ、冒険的な成長を」をビジョンに、過去の常識を覆すサービスを提供していきます。

                    .t-graph
                        .t-graph__image.t-graph__image--small.u-hidden-sp: img(src="image/graph01.png")
                        .t-graph__image: img(src="image/service-img01.jpg")

                .l-frame--md.l-col.t-cover.t-cover--bottom.c-frombottom
                    .t-sentence
                        h3.c-h5
                            |初期費用ゼロ。リスクゼロ。
                            br
                            |3つの独自の強みを活かして
                            br
                            |商品をヒットへと導く。
                        .t-sentence__block
                            .c-p 通常の広告代理店のビジネスモデルでは、お客様は広告メニューに合わせて広告費を先払いします。広告代理店の業務は、その広告費の中での広告出稿と限られた運用業務が中心で、打てる施策も限定されることが多いです。一方、BLEACHが手掛けるシェアリング型統合デジタルマーケティングでは、初期費用はゼロで、お客様の商品のマーケティング活動を一手に担います。広告出稿の裁量とリスクをBLEACHが背負うことで、ノーリスクでより革新的なマーケティング施策を実行することが可能です。売上を最大化させるために、お客様の商品の企画開発を共同で行うこともあります。
                        .t-sentence__block
                            .c-p また、BLEACHには、以下の3つの強みがあります。
                            ul.t-sentence__block__list
                                li デジタルマーケティング力
                                    br
                                    |数十億円に及ぶマーケティング予算を自社リスクで運用。
                                    br
                                    |その経験の蓄積の中で培ってきた、独自のノウハウとスキル。
                                li セールスライティング力
                                    br
                                    |独自の技術で潜在層消費者に向けて、購入までを完遂するライティング力。
                                li トレンドクリエイティブ力
                                    br
                                    |数々のヒット商品を世に送り出すことにより、流行自体を創り出せるスキル。
                        .t-sentence__block
                            .c-p これらの強みを駆使して、「潜在的ニーズの掘り起こし」や「定期購買ユーザーの獲得」、「通常の広告代理店の数倍にのぼるユーザーの獲得」といった成果を生み出してきました。口コミと紹介のみで評判が拡がり、結果として、多くのお客様の事業拡大に寄与し、BLEACHは一気に成長したのです。

                    .t-graph
                        .t-graph__image: img(src="image/graph02.png")
                        .t-graph__image: img(src="image/graph03.png")
                        .t-graph__image: img(src="image/graph04.png")

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/slick.min.js")
        script(src=rootPath + "asset/js/min/vivus.min.js")
        script(src=rootPath + "asset/js/theme-service.js")