include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "recruiting"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/theme-recruiting.css")

    body.recruiting
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href="") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href="") Recruiting

                .l-col.l-col--sp
                    h2.c-h1 リクルーティング
                    .c-category: img(src="image/category-recruiting.png" alt="")

            //- =================================================================================================

            .l-frame
                .l-frame--md.t-cover.c-frombottom
                    p.c-h3 募集職種
                    .t-block
                        p.c-p クライアント企業、そして自社の事業を成長させるために、BLEACHには、「グロースハッカー」、「セールスライター」、「プロモーションプランナー」といったポジションがあります。いずれのポジションにおいても、新しいビジネスモデルで急成長中のベンチャー企業ならではの、仕事の魅力があります。

                    table.t-table--pc
                        tr
                            td.t-table--first 職種名
                            td 仕事概要
                            td 仕事の魅力
                        tr
                            th グロースハッカー
                            td マーケティング力を活かし、Web広告の運用業務を中心に、クライアントの売上と自社の利益を向上させるミッションを担当
                            td 月に数千万円単位の広告出稿とクリエイティブをコントロールし、クライアントの商材の売上拡大に寄与する仕事です。手掛けた商材の売上が伸びることで、新しい流行を生み出すことにもつながります
                        tr
                            th セールスライター
                            td クライアント企業の商材の広告クリエイティブ（Webサイト・動画）と、そのナレッジ化・体系化を担当
                            td ユーザーに「買ってもらう」ための、クリエイティブを制作する中で、通常の広告とは異なるスキルが身につきます。また、ナレッジ化を推進することにより、多くの広告の「勝ちパターン」を吸収することもできます
                        tr.t-table--last
                            th プロモーションプランナー
                            td クライアント企業とともに、プロモーション戦略の立案と実行を担当
                            td 商材の販売戦略をゼロから練り、クライアント企業とともに、その実現のために知恵を絞る仕事。「広告が売れる」ではなく、「商品が売れる」ことがゴール。クライアントの経営戦略立案に携わるケースも多くあります

                    table.t-table--sp
                        tr
                            th 職種名
                            td: b グロースハッカー
                            th 仕事概要
                            td マーケティング力を活かし、Web広告の運用業務を中心に、クライアントの売上と自社の利益を向上させるミッションを担当
                            th 仕事の魅力
                            td 月に数千万円単位の広告出稿とクリエイティブをコントロールし、クライアントの商材の売上拡大に寄与する仕事です。手掛けた商材の売上が伸びることで、新しい流行を生み出すことにもつながります
                        tr
                            th 職種名
                            td: b セールスライター
                            th 仕事概要
                            td クライアント企業の商材の広告クリエイティブ（Webサイト・動画）と、そのナレッジ化・体系化を担当
                            th 仕事の魅力
                            td ユーザーに「買ってもらう」ための、クリエイティブを制作する中で、通常の広告とは異なるスキルが身につきます。また、ナレッジ化を推進することにより、多くの広告の「勝ちパターン」を吸収することもできます
                        tr.t-table--last
                            th 職種名
                            td: b プロモーションプランナー
                            th 仕事概要
                            td クライアント企業とともに、プロモーション戦略の立案と実行を担当
                            th 仕事の魅力
                            td 商材の販売戦略をゼロから練り、クライアント企業とともに、その実現のために知恵を絞る仕事。「広告が売れる」ではなく、「商品が売れる」ことがゴール。クライアントの経営戦略立案に携わるケースも多くあります

            //- =================================================================================================

            .l-frame
                .l-frame--md
                    p.c-h3 福利厚生・制度

                    .t-list
                        p.t-list__title 食事・軽食フリー

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_01.jpg", alt="")
                                p.t-list__item__heading ランチサポート
                                p.t-list__item__content オフィスおかん、OFFICE DE YASAIを導入
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_02.jpg", alt="")
                                p.t-list__item__heading フリードリンク
                                p.t-list__item__content レッドブルも含めたドリンクもすべて無料
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_03.jpg", alt="")
                                p.t-list__item__heading フリー軽食
                                p.t-list__item__content ウイダーインゼリーやカロリーメイトもすべて無料

                    .t-list
                        p.t-list__title 食事会・
                            br.u-hidden-pc
                            |社内コミュニケーション

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_04.jpg", alt="")
                                p.t-list__item__heading マイヒストリータイム
                                p.t-list__item__content 新入社員には、1時間「自分の経歴」を語っていただきます。会社の仲間に自分のキャラクターを理解してもらい、スムーズに仕事ができるようになる大切なイベントです
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_05.jpg", alt="")
                                p.t-list__item__heading 月曜日食事会
                                p.t-list__item__content 毎週月曜は、親睦を深めるために食事会を開催。「今週も1週間よろしくお願いします！」
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_06.jpg", alt="")
                                p.t-list__item__heading シャッフルディナー
                                p.t-list__item__content 月に1回、所属部署を問わずグループを决めてディナーを実施。部署の垣根を超えて、将来を語り合います
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_07.jpg", alt="")
                                p.t-list__item__heading 誕生日会
                                p.t-list__item__content 仲間への感謝を忘れないために誕生日は全員でお祝いをしています
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_08.jpg", alt="")
                                p.t-list__item__heading 社員合宿
                                p.t-list__item__content 四半期に一度、社員研修合宿を開催。写真は熱海での合宿時のもの

                    .t-list
                        p.t-list__title 自己研鑽サポート

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_09.jpg", alt="")
                                p.t-list__item__heading 書籍購入
                                p.t-list__item__content 社員研修の一環として、月5000円まで書籍購入費を支給
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_10.jpg", alt="")
                                p.t-list__item__heading セミナー費負担
                                p.t-list__item__content 社員研修の一環として、セミナー参加費用を支給（要相談）

                    .t-list
                        p.t-list__title 健康サポート

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_11.jpg", alt="")
                                p.t-list__item__heading R-1フリー
                                p.t-list__item__content 健康管理を考え、明治プロビオヨーグルトR-1を毎日支給
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_12.jpg", alt="")
                                p.t-list__item__heading ジム手配
                                p.t-list__item__content スポーツジム代を、上限1万円まで支給
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_13.jpg", alt="")
                                p.t-list__item__heading アーロンチェア
                                p.t-list__item__content 高機能ワークチェアHerman Miller社のアーロンチェアを全員に支給

                    .t-list.t-list--last
                        p.t-list__title 住宅・引っ越し補助

                        .l-col.t-list--col
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_14.jpg", alt="")
                                p.t-list__item__heading 社宅補助、住宅手配
                                p.t-list__item__content オフィスから2㎞圏内に住めば、家賃を最大5万円支給（条件有、社宅のみ）
                            .t-list__item.c-frombottom
                                .t-list__item__image: img(src="image/welfare_15.jpg", alt="")
                                p.t-list__item__heading 引っ越し費用・最大半額支給
                                p.t-list__item__content 社宅に引っ越す際に、その費用を最大半額支給

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/slick.min.js")
        script(src=rootPath + "asset/js/min/vivus.min.js")
        //- script(src=rootPath + "asset/js/theme-recruiting.js")