include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_mizutani"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/mizutani.html") Interview 水谷 慶

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |入社して1年半で、
                        br
                        |数十億円規模の事業のトップに。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/mizutani-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |水谷 慶
                                br
                                span マネージャー職
                            p.c-intro__pf__text 2016年3月、神戸大学工学部機械工学科を卒業。優秀な成績を修め、学会賞も受賞した。自分で事業を興したいと思い、ベンチャー企業での勤務を2社経験。2017年8月、より大きな成長を求めてBLEACHにジョイン。全社の広告運用の責任者を経て、全社組織をつくるマネージャー職を務めている。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |自分で事業を立ち上げて、稼ぐ力を身につけたい
                        .c-p 「未知のものに触れたい」という思いが強く、学生時代は宇宙飛行士を志望していました。神戸大学工学部に進学し、ロボット工学を専攻していたのですが、身体上の理由から宇宙飛行士への道は断念。方向を転換して、「未知のものをカタチにしよう」と、ベンチャー企業に就職しました。ペット保険を取り扱う100名規模の会社に入社したのですが、ルーチン業務が多く事業を自分でつくれるようになるまでに時間が掛かると感じて、ほどなくスタートアップ企業に転職。その会社では、4人目の社員として、ビジネスのローンチにも携わりました。しかし、業績不振に陥って退職せざるをえない状態に。「自分には、事業を立ち上げて稼ぐ力が無い」と痛感して、その力を鍛えようと入社したのがBLEACHです。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |入社して1年半。生み出す売上は、年間数十億円
                        .c-p 今、社会人としては3年目で、入社して1年半になります。最初の1年間は、個人としての売上を出すことに集中しました。そして、マネージャーに昇格してからは、メンバー個々の成長サポートをメインに取り組んでいます。このシェアリング型統合デジタルマーケティングのビジネスで大切なのは、アイデア力とイマジネーション力。よって、KPIをガチガチに設定して組織を運営するよりも、一人ひとりのメンバーが成長し、深い思考ができるチームにしていきたい。結果として、個々の思考力が成長して組織が強くなり、売上が最大化できると考えているからです。
                            br
                            br
                            |現状の方針は、3〜4か月の長期スパンで広告予算を与えて任せきる、というものです。失敗もとがめません。社員数が増えている中で、このBLEACHの良きカルチャーをより濃くしていくことに尽力しています。結果、半年前の私個人での売上は2億円でしたが、今や組織での売上額は、数十億円にも達するように。経営者として、一歩一歩階段を上っている実感を持てています。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |会社を売上100億円のステージに乗せたい
                        .c-p 現状の売上から、さらに売上100億円規模に成長させることが当面の目標です。現状のビジネスをそのまま拡大させるのではなく、新規事業や海外事業も視野に入れていきたいですね。仮にBLEACHが100億円規模の会社になれば、そこから生じる経済圏は1000億円を超え、数万人の人がブリーチのビジネスになんらかの形で携わっているはず。
                            br
                            br
                            |拡大している業界で、独自のビジネスモデルを展開しているBLEACHで働く意味は大きいです。自分の一挙手一投足で会社が変わり、社会が変わっていくのを実感できるから。大きなやりがいを感じ、背伸びをしながら事業をしていくのが、自分の性には合っています。一人ひとりの社員が成長し続け、輝き続ける、最強の組織をつくっていきたいですね。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/mizutani-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")