include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_nakamura"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/nakamura.html") Interview 中村 悠人

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |入社3か月で、僕の文章は、
                        br
                        |1億円以上の売上をつくった。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/nakamura-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |中村 悠人
                                br
                                span セールスライター職
                            p.c-intro__pf__text 前職は、整体・鍼灸・マッサージ業界に特化した人材サービス企業に勤務。セールスライティングのスキルを活かして、セミナー事業の集客、企画を担当。社内レコードを５度更新、過去最高売上記録を更新して、社内賞を受賞。上場企業からの買収タイミングで、自らのキャリアプランを見直し、０→１で事業を立ち上げるスキルを身につけるべく、2018年7月にBLEACHに転職。入社3か月あまりで、億単位の売上に貢献。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |モノが売れるまでの全工程を、当事者として担当できるから
                        .c-p 前職は、整体・針灸など治療系の人材サービス企業で、同じくセールスライターの仕事をしていました。自分の文章を通じて、多くの人が心を動かして人生が変わる。そのセールスライティングの可能性を、治療系の外に広げたいと思い、転職を決意しました。BLEACHを選んだのは、ライターに留まらない可能性を感じたからです。クライアントと直で折衝できますし、その商品のマーケティングの戦略を立てるだけでなく、自分の権限で広告も出稿できる。要は、モノを売るまでの全ての工程を、当事者として経験できると聞いて、「この会社しかない！」と直感したのです。それに加えて、社長の大平の人柄にも惹かれました。面談のときに、「君は、もっと大きな人間になれる可能性を秘めている。世界で自分を語れるようになろうよ！」と言われました。会社自体も、「商売を大きく。日本から世界へ、冒険的な成長を」という理念を掲げているので、この社長と一緒に会社を大きくしたい、そう思い入社を決意しました。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |入社3か月で億単位の売上。クライアントの成長のカギを握る
                        .c-p 「半端なく思い切り任せられる」この一言に尽きると思います。入社2日目から、あるクライアントの案件をまるごと担当することに。クライアントとの折衝、広告の戦略立案、クリエイティブ制作と出稿、出稿後の改善といった一連の流れを、すぐに経験できました。もちろん結果が出ないこともありましたが、クライアントの当事者としての意識があるので、くよくよせずに即座に改善していました。BLEACHも予算や権限を惜しみなく与えてくれるので、失敗を即座に自分の血肉に変えられて、急激に成長しましたね。結果、幾つかのヒット商品を生み出し、入社3か月で億単位の売上をつくることができました。
                            br
                            br
                            |この規模になれば、ひとつの事業を任せられているのに近い感覚です。もちろん、クライアントからの期待感は、前職とは比較になりません。その企業の成長が、私が立てた戦略やこの手で書かれた文章に懸かっている。単なるライターではなく、クライアントの成長を担う「牽引者」として、そして、マーケットに流行を生み出す「イノベーター」として、より大きな影響力を持てるようになりたいですね。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |BLEACHの価値観を、社外にも広めていきたい
                        .c-p 入社9か月が経ち、はやくも後輩の育成を担当するようになりました。中途入社の社員もいれば、新卒の若手もいます。私自身は仕事を任されることで成長できたので、彼らにも同じようにしてあげたい。ですから、年齢や経験を問わず、月間の利益目標を持たせていて、その達成に向けて自由に試行錯誤してもらっています。裁量を与えることで、「クリエイティブが変われば、利益が大きく変わる」ということを、肌身で経験できる。結果、セールスライティングのスキルを最速で習得できるはずです。また、「一家団結」「ハマろう、楽しもう」「全員・プロアスリート」というBLEACHの3つの価値観を、仕事を通じて伝えることで、より大きな成果を出せるはず。この価値観は、ビジネスマンとしての基礎を形成するものだから、BLEACHの外にも広めていきたい。そして、日本という国全体の成長を加速させていきたいですね。



            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/nakamura-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")