include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_shimizu"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/shimizu.html") Interview 清水 里沙

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |この仕事に自分の人生を賭ける。
                        br
                        |会社のために。そして、業界のために。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/shimizu-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |清水 里沙
                                br
                                span セールスライター職
                            p.c-intro__pf__text 大学ではデザイン学科で映像コースを専攻。卒業後、専門学校で写真について学ぶ。アルバイトで販売職を経験し、Web制作会社に入社。バナーなどのデザインを制作。その後、フリーの映像ディレクターを経て、2017年11月にBLEACHに入社。広告の運用アシスタントとしての研修後、セールスライター職に就き、数々のヒット商品を生み出している。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |様々なクライアントに、幅広くマーケティングを支援していきたい
                        .c-p 前職は、Web制作会社にデザイナーとして勤めていました。仕事自体は楽しかったのですが、10名足らずの小さい会社ということもあり、かなりの激務でした。規模も縮小しようとしていたので、労働状況の改善とクリエイターとしてのステップアップを求めて、外に飛び出しました。フリーの映像ディレクターとして独立したのですが、すぐには食べていくのは難しかった。そして、「自分の視野は狭い。もっと社会を知ろう」と思って、様々なクライアントに幅広いマーケティングの支援を行っているBLEACHに入社したのです。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |私の文章で、商品が飛ぶように売れる。その感覚がたまらない
                        .c-p 広告の運用サポート業務で仕事に慣れた後、セールスライター職へと異動になりました。この仕事が自分に合っていて、どっぷりとハマっています。購買者の潜在的なニーズを掘り起こして、「衝動買い」を生み出させたときがとても楽しいですね。これまでに学んできたデザイン、写真、映像の知識を全て活かすこともできています。ユーザーやクライアントの満足を突き詰めてきた経験が、セールスライティングで成果を追求する際のベースです。ユーザーを喜ばせるために表現の細部まで気を遣ったり、そのために研究を重ねたり。魂を込めた仕事をしている自負はあります。その結果、私が制作した広告で飛ぶように商品が売れていったときには、大きなやりがいを感じていますね。
                            br
                            br
                            |ヒットを生むためには、購買ターゲットの潜在意識を探ることが大切です。私には子供はいませんが、ママさんバレーのチームに所属しています。そこで周りの人たちに世間話の中でヒアリングすることも多いですね。「お肌で悩んでいることありますか？」「普段どのようなサイトを見ていますか？」といったように。そこで聞けた内容がヒットにつながったことは、一度や二度ではありません。
                            br
                            br
                            |BLEACHの良いところは、アイデアを思いついたらすぐに実行できること。広告のテスト配信を行いたいときには、百万円単位の出稿料をポーンと出してくれますし、媒体のアカウントも現場の裁量で開けます。アイデアの仮説検証を高速で行えるので、広告のヒット率を向上できましたし、クリエイターとしても急速に成長できました。試行錯誤の質と量が半端ないですね。BLEACHの1年間は、前の会社の10年間くらいと言っても、過言ではありません。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |この会社と業界を牽引する、リーダーになりたい
                        .c-p 個人的には、DtoC（Direct to Consumer：商品の企画から販売まで、全てを手掛けるモデル）領域のライターとして、TOPになりたいと思っています。ここまで楽しくて、自分の人生を賭けられる仕事は無いですね。映像も写真もデザインの仕事も楽しかったのですが、ハマり度が違います。まだ業界としての歴史も浅いので、時代を切り拓く先人になりたいです。
                            br
                            br
                            |その上で、後輩を育てていくのも私の使命だと感じています。正直、ライティングのノウハウを教えるのは簡単ではありません。しかし、その壁を乗り越えて皆を同じレベルに引き上げることができれば、会社の成長がさらに加速していくはずです。自分が手掛けた広告記事の一つひとつが、会社と業界の未来につながっている。そう感じながら、日々を過ごしています。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/shimizu-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")