include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_suzuki"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/suzuki.html") Interview 鈴木 大志

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |インターン入社4か月目で、
                        br
                        |数千万円の売上をゼロからつくった。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/suzuki-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |鈴木 大志
                                br
                                span セールスライター職
                            p.c-intro__pf__text 高校時代に水や食糧問題に関心を持ち、上智大学法学部 地球環境法学科に入学。大学時代は音楽活動に熱中。エレキベースの腕を磨き、紅白歌合戦にも出場経験があるゴスペルサークルに所属。
                                br
                                |「20代の内に誰よりも成長したい」という理由で、2019年4月、BLEACHに新卒第一期生として入社した。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |早くから権限を持てる場所で
                            br
                            |試行錯誤の中で成長したい
                        .c-p 就職活動の志望先は、ベンチャー企業に絞りました。20代の内に誰よりも成長して、何らかの形で歴史に名を残す人間になりたいからです。高校時代から水や食料の問題に興味があって、大学は地球環境法学科を選んだのですが、大きなことを成し遂げてみたいとずっと思っていました。そのためには、成長のスピードを極限まで高める必要がある。早くから権限を持てて、試行錯誤の高速回転の中で成長できる、ベンチャー企業に的を絞ったのです。
                            br
                            br
                            |数社のベンチャー企業から内定をいただきました。その中でBLEACHを選んだ理由は、社長の話に心を根こそぎ持って行かれたからです。「大企業に入る人が偉いんじゃない。大企業になる前の基盤をつくった人が本当は偉いんだ」という言葉には、心から共感できました。また、「自分が極めたマーケティングノウハウを、仕組みとして残して、商品の流通を変えたい」という話も印象に残っています。営利のためだけではなく、BLEACHならば社会のために大きな仕事ができそうだと確信。入社を決めました。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |インターン入社4か月目。
                            br
                            |大型の予算を任せてもらい、
                            br
                            |数千万円の売上をつくった
                        .c-p 2018年7月に内定をいただき、9月からインターンを開始。大学での講義があった金曜日の夕方以外は、全ての時間をBLEACHでの仕事に費やしました。当初、任せられた仕事はグロースハッカー。ネット広告の運用を行う仕事でした。
                            br
                            br
                            |入社3か月で仕事を覚えて、4か月目からは新規媒体（広告の出稿先）の開拓を任されました。これまでにBLEACHが出稿したことのない媒体で広告を出し、勝ちパターンをゼロからつくりあげて行く仕事です。かなりの試行錯誤を重ねた末に、あるメジャーの媒体での広告が当たり、数千万円のクライアント商品の売上をたたき出すことができました。他の広告を分析しながら「売れる要因」を探り、自己裁量で大型の広告費を投下。プレッシャーで胃が痛くなることもありましたし、失敗もありました。しかし、その全ての結果に正面から向き合って分析を重ねることで、何とか勝ちパターンを解明できたのです。
                            br
                            br
                            |結果を出した後、経験の幅を広げるためにセールスライター職へと異動。まだ1か月も経っていませんが、幾つかの商材を任され、クライアントとミーティングを行って記事を作成しています。表現の切り口やライティングの手法など覚えることは多いですが、キャッチアップの速度を上げて、ヒット商品を生み出したいですね。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |このチームの成長に、
                            br
                            |ずっと貢献し続けること。
                            br
                            |それが、私の目標です。
                        .c-p 私の代は、BLEACHの新卒第1期生になります。後輩の模範となれるリーダー職に早く就きたいですね。そのためには、まずはこの1年間でプレイヤーとしてのスキルを身につけておきたい。セールスライティングだけではなく、広告の運用も極めて、マーケッターとして一人前になることが目標です。
                            br
                            |
                            br
                            |その後は、マネジメントを学び、商品開発や子会社の立ち上げなど、BLEACHの事業の幅が拡がる動きをしていきたいです。同じような熱量を他の社員も持っています。組織一丸となって目標に向かうことで、自分一人ではできないような成長が果たせる。そう信じています。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/suzuki-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")