include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "interview_watanabe"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-interview.css")

    body.interview(class=key)
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame.c-frombottom
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href=rootPath + "index.html") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href=rootPath + "interview/watanabe.html") Interview 渡邉 緑

                .l-col.l-col--sp
                    h2.c-h1 社員インタビュー
                    .c-category: img(src="image/category-interview.png" alt="")
                
                .l-frame--md
                    h3.c-h2
                        |“女性ならでは”の感性を活かして、
                        br
                        |流行を生み出し、経済も動かせる仕事。

                    .c-intro.l-col
                        .c-intro__image.l-col__2: img(src="image/watanabe-img01.jpg" alt="")
                        .c-intro__pf.l-col__2
                            p.c-intro__pf__name
                                |渡邉 緑
                                br
                                span マネージャー職
                            p.c-intro__pf__text 多摩美術大学を卒業後、イラストレーター・アシスタントとして、2012年にBLEACHにジョイン。その後は、クリエイティブ制作、デジタルマーケティングの運用業務なども担当し、社長の大平と二人三脚で会社の成長に寄与してきた。現在は、クリエイター組織のマネジメントや採用業務を中心に手掛け、現在の会社の実質的な創業期をリードしている。

            //- =================================================================================================

            .l-frame.c-frombottom
                .l-frame--sm
                    .t-block
                        .c-h3.c-h3--tweak
                            span BLEACHへの入社理由
                            br
                            |この5年間を、社長とともに歩んできた
                        .c-p 私がBLEACHにジョインして5年になります。社長以外では、最も社歴が長い社員です。アルバイトとして入社後、色々な経験を重ねてきました。会社の成長に伴い、新しい仕事をどんどん任せてくれて、それが楽しくてずっとこの会社にいます。ベンチャー企業ですから、業績が良いときもあれば、そうでないときもある。ピンチになったときは、不思議と「なんとかしてやろう！」と大きな力が湧いてきて、すぐに復活させてきました。鍛えられましたし、その経験が自信につながっています。これまで社長と二人三脚でやってきて、いまの実質的な創業期を迎えることができて、正直、感慨深いものはありますね。

                    .t-block
                        .c-h3.c-h3--tweak 
                            span BLEACHでの仕事のやりがい
                            br
                            |一生モノのマーケティングスキルが身につく
                        .c-p ここ2～3年で、BLEACHは急成長期に入りました。私のメインのミッションは、セールスライターの採用活動とマネジメントです。私自身、数多くの広告をつくってきました。そのノウハウを新人に伝授することにより、「売れるマーケティング活動」をスケールさせていきたいと考えています。私が採用活動でよく伝えているのが、「一生モノのマーケティングスキルが身につく」ということ。単に広告を制作するだけでなく、商品の魅力自体をクライアントに提案できる。そして、自分がつくった記事によって購買まで結びつけ、流行を生み出すこともできる。一人のクリエイターが、生み出す売上高は数億円にも上ります。女性ならではの感性も活かし、大きく経済を動かせる仕事がここにはあるのです。
                            br
                            br
                            |場合によっては、クライアントに対して「その成分と内容量でしたら、価格から見直した方が良いです」と提案することもありますし、どの広告がどれくらいの売上につながったのかを、データを用いて細かく検証もしています。また、自分で予算を使って広告を出稿することで、実験的な取り組みを行うことも可能。より深くより速いPDCAを回すことで、ライターとしても、マーケターとしても、短期間で非常に高いレベルまで成長することができるのです。

                    .t-block
                        .c-h3.c-h3--tweak
                            span 今後のビジョン
                            br
                            |ライティング力とマーケティング力を活かして、
                            br
                            |新しい事業を形にしていきたい
                        .c-p セールスライティングチームがグロースした先には、そのライティング力・マーケティング力を活かした新規事業を形にしていきたいと考えています。「何がインターネットで売れるのか？」「どう表現したら、売れるのか？」という肌感覚は、広告づくり以外の事業にも活かせるはずです。たとえば、クライアントの製品開発チームに対して、商品のコンサルティングを行うこともできますし、全く別のWebサービス企画をライター主導でしてみたいとも思っています。セールスライターの新たなキャリアを形にすることが、ライターにとても、BLEACHにとっても、大きな成長をもたらしてくれるでしょう。

            //- =================================================================================================

            .l-frame.l-frame--sm.t-other
                .t-other__image: img(src="image/watanabe-img02.jpg" alt="")

                p.t-other__heading 他の社員を見る

                include ../include/_interview.pug

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/theme-interview.js")