include ../include/_mixin.pug
doctype html
html(lang="ja")
    head
        include ../include/_head.pug
        include ../include/_config.pug
            - var key = "company"
            - var page = page[key]
                include ../include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/slick-theme.css")
        link(rel="stylesheet" href=rootPath + "asset/css/slick.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-company.css")

    body.company
        .l-limit
            include ../include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame
                ul.c-breadcrumb
                    li.c-breadcrumb__item: a(href="") 株式会社ブリーチ&nbsp;/&nbsp;
                    li.c-breadcrumb__item: a(href="") Company 会社について

                .l-col.l-col--sp
                    h2.c-h1 会社について
                    .c-category: img(src="image/service-company.png" alt="")

            //- =================================================================================================

            .l-frame
                .l-frame--md.t-cover
                    p.c-h3 会社概要

                    table.t-table--pc
                        tr
                            th 会社名
                            td 株式会社ブリーチ Bleach. Inc
                        tr
                            th 代表者
                            td 代表取締役社長 大平啓介
                                br
                                a(href=rootPath + "interview/ohira.html") インタビューはこちら
                        tr
                            th 所在地
                            td 〒150-0045 東京都渋谷区神泉町11-7 セロンビル2F/4F
                        tr
                            th 最寄り駅
                            td 京王線・井の頭線　神泉駅より徒歩5分
                                br
                                |渋谷駅　マークシティ側出口より徒歩7分
                        tr
                            th 設立
                            td 2010年 4月28日
                        tr
                            th 資本金
                            td 1億円
                        tr
                            th 従業員数
                            td 18名（正社員15名）
                        tr
                            th 電話番号
                            td 03-6265-8346
                        tr
                            th 事業内容
                            td シェアリング型統合マーケティング事業
                        tr.t-table--last
                            th お問い合わせ
                            td 
                                a(href="http://bleach.co.jp/mailform.html", target="_blank") メール
                                |にてお問い合わせください

                    table.t-table--sp
                        tr
                            td: b 会社名
                            th 株式会社ブリーチ Bleach. Inc
                        tr
                            td: b 代表者
                            th 代表取締役社長 大平啓介
                                br
                                a(href=rootPath + "interview/ohira.html") インタビューはこちら
                        tr
                            td: b 所在地
                            th 〒150-0045 東京都渋谷区神泉町11-7 セロンビル2F/4F
                        tr
                            td: b 最寄り駅
                            th 京王線・井の頭線　神泉駅より徒歩5分
                                br
                                |渋谷駅　マークシティ側出口より徒歩7分
                        tr
                            td: b 設立
                            th 2010年 4月28日
                        tr
                            td: b 資本金
                            th 1億円
                        tr
                            td: b 従業員数
                            th 18名（正社員15名）
                        tr
                            td: b 電話番号
                            th 03-6265-8346
                        tr
                            td: b 事業内容
                            th シェアリング型統合マーケティング事業
                        tr.t-table--last
                            th お問い合わせ
                            td 
                                a(href="http://bleach.co.jp/mailform.html", target="_blank") メール
                                |にてお問い合わせください

            //- =================================================================================================
            
            .l-frame
                .l-frame--md.t-cover
                    p.c-h3 アクセス

                    .t-map
                        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.869173036519!2d139.69014940159542!3d35.655594788886084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b554215acef%3A0x313a102faae14da8!2z44CSMTUwLTAwNDUg5p2x5Lqs6YO95riL6LC35Yy656We5rOJ55S677yR77yR4oiS77yWIOOCu-ODreODs-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1527135930517" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)

            //- =================================================================================================

            .l-frame
                .c-btn: a(href=rootPath + "./index.html") トップページに戻る

            //- =================================================================================================

            include ../include/_footer.pug
        include ../include/_scripts.pug
        script(src=rootPath + "asset/js/min/slick.min.js")
        script(src=rootPath + "asset/js/min/vivus.min.js")
        script(src=rootPath + "asset/js/theme-company.js")