/*==============================================

    6. FOOTER

==============================================*/
/*==============================================
    6-1. l-footer
==============================================*/
.l-footer {
    position: relative;
}
.l-footer__backtop {
    position: fixed;
    width: 33px;
    right: 6.25%;
    bottom: 3%;
    @include mq(md) {
        width: 66px;
        right: 3%;
        bottom: 2%;
    }
}
.l-footer__image {
    padding-bottom: 3em;
    @include mq(md) {
        padding-bottom: 5em;
    }
}
.l-footer__link {
    text-align: center;
    padding-top: 3em;
    border-radius: 200px;
    @include mq(md) {
        width: 47.96137339%;
        padding-top: 0;
    }
}
.l-footer__link a {
    display: block;
    padding: 0.4em 0 0.9em 0;
    color: #ffffff;
    border-radius: 200px;
    font-size: 1.514286em;
}
.l-footer__link a span {
    font-size: 0.5833333333em;
    @include ff-roboto;
}
.l-footer__text {
    text-align: center;
    margin: 5em 0 1em 0;
    font-size: 1em;
    @include ff-roboto;
    @include mq(md) {
        margin: 6em 0 .5em 0;
        font-size: 0.8571428571em;
    }
}
.l-footer__sns {
    width: 100px;
    margin: 0 auto;
    @include mq(md) {
        width: 100px;
    }
}
.l-footer__sns__item {
    width: 40px;
    margin: 0 auto;
    @include mq(md) {
        width: 40px;
    }
}
.l-footer__copyright {
    font-size: 0.8333333333em;
    padding: 6em 0 2.5em 0;
    @include mq(md) {
        text-align: center;
        padding: 3em 0 2em 0;
        font-size: 0.7333333333em;
    }
}