/*==============================================

    5. HEADER

==============================================*/
/*==============================================
    5-1. l-header
==============================================*/
.l-header {
    position: relative;
    @include ff-roboto;
    @include mq(md) {
        margin: 0 3%;
        border-bottom: 1px solid #d7d7d7;
    }
}
.l-header__logo {
    width: 76px;
    margin: 0 auto;
    padding-top: 14px;
    background-color: #ffffff; 
    @include mq(md) {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: 130px;
    }
}
.l-header__gnav {
    z-index: 1000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    bottom: 0;
    background-color: #ffffff;
    overflow-y: scroll;
    @include mq(md) {
        display: flex;
        position: relative;
        background-color: transparent;
        overflow: visible;
        top: auto;
    }
}

/*==============================================
    5-2. l-nav
==============================================*/
.l-nav {
    position: relative;
    padding-bottom: 30px;
    @include mq(md) {
        padding: 18px 0;
    }
}
.l-nav__ul__item {
    text-align: center;
    margin: 1.5em 0;
    font-size: 1.5em;
    @include mq(md) {
        text-align: left;
        margin: 0;
        padding-right: .9em;
        font-size: 0.9333333333em;
        line-height: 2.2;
    }
}
.l-nav__ul--main {
    padding: 2em 0 0 0;
    @include mq(md) {
        padding: 0;
    }
}
.l-nav__ul--main .l-nav__ul__item a {
    @include mq(md) {
        position: relative;
        display: block;
        transition: width 1s ease .1s;
        &::before {
            content: '';
            position: absolute;
            bottom: -18px;
            left: 0;
            width: 100%;
            height: 4px;
            background: #1e1e1e none no-repeat scroll top left;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s ease .1s;
        }
        &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}
.l-nav__ul--sub {
    width: 80px;
    margin: 0 auto;
    padding-top: 5em;
    @include mq(md) {
        width: auto;
        padding-top: 0;
    }
}
.l-nav__ul__item--icon {
    width: 30px;
    padding-right: .6em;
    @include mq(md) {}
}
.l-nav__ul__item--entry {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;
    margin: auto;
    padding-right: .6em;
    font-size: 1.1666666667em;
    @include mq(md) {
        position: relative;
        top: auto;
        font-size: 0.8571428571em;
    } 
}
.l-nav__ul__item--entry a {
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: .5em 3em;
    color: #ffffff;
    border-radius: 100px;
    @include mq(md) {
        display: block;
        width: auto;
        margin: 0;
        padding: 0 1.8em;
    } 
}
.l-nav__ul__item--bg {
    top: -1em;
    @include mq(md) {top:auto;}
}
.l-nav__ul__item--ng {
    top: 2.5em;
    @include mq(md) {top:auto;}
}
.l-nav__ul__item--mc {
    top: 6em;
    @include mq(md) {top:auto;}
}
.l-nestnav {
    display: none;
    text-align: center;
    padding-top: 10px;
    @include mq(md) {
        position: absolute;
        width: 270px;
        top: 48px;
        margin-left: -94px;
        padding: 10px 0 16px 0;
        background-color: #000000;
    }
}
.l-nestnav .l-nestnav__item {
    padding: 6px 0;
    @include mq(md) {
        padding: 0;
    }
}
.l-nestnav .l-nestnav__item a {
    font-size: 0.6em;
    @include mq(md) {
        padding: 6px 0;
        font-size: 0.8rem;
        color: #ffffff;
    }
}
.l-nestnav .l-nestnav__item a {
    &::before {
        display: none;
    }
}
.l-nav__ul__item--btn {
    @include mq(md) {
        cursor: pointer;
    }
}
.l-nav__ul__item--btn span {
    position: relative;
    &::after {
        position: absolute;
        content: '+';
        margin-left: 20px;
    }
    @include mq(md) {
        &::after {
            display: none;
        }
    }
}
.selected.l-nav__ul__item--btn span {
    position: relative;
    &::after {
        position: absolute;
        content: '-';
    }
}
.l-nav__ul__item--btn {
    position: relative;
    z-index: 10;
    @include mq(md) {
        position: relative;
        display: block;
        transition: width 1s ease .1s;
        &::before {
            content: '';
            position: absolute;
            bottom: -18px;
            left: 0;
            width: calc(100% - .9em);
            height: 4px;
            background: #1e1e1e none no-repeat scroll top left;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s ease .1s;
        }
        &:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

/*==============================================
    5-3. l-line
==============================================*/
.l-line {
    z-index: 50;
    position: absolute;
    width: 44px;
    height: 44px;
    top: 0;
    right: 6.25%;
    cursor: pointer;
    @include mq(md) {
        display: none;
    }
}
.l-line span {
    position: absolute;
    width: 20px;
    height: 1px;
    top: 28px;
    right: 0;
    background: #000000 none no-repeat scroll top left;
    transition: all .3s ease 0s;
    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        top: 6px;
        background: #000000 none no-repeat scroll top left;
        transition: all .3s ease 0s;
    }
    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        top: -6px;
        background: #000000 none no-repeat scroll top left;
        transition: all .3s ease 0s;
    }
}

.js-active.l-line span {
    background: #fff none no-repeat scroll top left;
    &::before {
        transform: rotate(135deg);
        top: 0;
    }
    &::after {
        transform: rotate(-135deg);
        top: 0;
    }
}   

/*==============================================
    5-3. l-line
==============================================*/
.home a.bar-home                {@include mq(md) {&::before {transform: none;}}}
.company a.bar-company          {@include mq(md) {&::before {transform: none;}}}
.vision a.bar-vision            {@include mq(md) {&::before {transform: none;}}}
.service a.bar-service          {@include mq(md) {&::before {transform: none;}}}
// .message a.bar-message          {@include mq(md) {&::before {transform: none;}}}
.interview a.bar-interview      {@include mq(md) {&::before {transform: none;}}}
.recruiting a.bar-recruiting    {@include mq(md) {&::before {transform: none;}}}
// .information a.bar-information  {@include mq(md) {&::before {transform: none;}}}
// .culture a.bar-culture          {@include mq(md) {&::before {transform: none;}}}