/*==============================================

    4. LAYOUT

==============================================*/

/*==============================================
    4-1. LAYOUT LIMIT
==============================================*/
.l-limit {
	background-color: #fff;
	margin: 0 auto;
	@include mq(md) {
		box-sizing: border-box;
		min-width: 1000px;
        max-width: 1400px;
	}
}

/*==============================================
    4-2. LAYOUT FRAME
==============================================*/
.l-frame {
	width: 87.50%; // 280px / 320px
    margin: 0 auto;
	@include mq(md) {
        width: 93.83333333%; // 1126px / 1200px
	}
}
.l-frame--sm {
    margin: 0 auto;
    @include mq(md) {
        width: 65.54174067% // 738px / 1126px
    }
}
.l-frame--md {
    margin: 0 auto;
    @include mq(md) {
        width: 82.77087034% // 932px / 1126px
    }
}
.l-frame--ld {}
.l-frame--full {
	width: 100%;
}

/*==============================================
    4-3. LAYOUT COLUMNS
==============================================*/
.l-col {
	@include mq(md) {
		display: flex;
		justify-content: space-between;
	}
}
.l-col--sp {
    display: flex;
    justify-content: space-between;
}
.l-col__item {
    width: 100%;
    margin: 0 auto;
    @include mq(md) {
        width: 50%;
    }
}
.l-col__2 {
	@include mq(md) {
		@include percentage(447, 932);
	}
}
.l-col__3 {
    @include mq(md) {
        @include percentage(350, 1126);
    }
}
.l-col__4 {
    @include mq(md) {
        @include percentage(300, 1200);
    }
}
.l-col--fw {
    flex-wrap: wrap;
}
.l-col--rr {
    flex-direction: row-reverse;
}

.t-slide--3::after {
    @include mq(md) {
        content: "";
        display: block;
        @include percentage(350, 1126);
    }
}

/*==============================================
    4-X. LAYOUT XXXXXX
==============================================*/