@charset "UTF-8";
/*==============================================

    0. STYLE SHEET

==============================================*/
/*==============================================

    1. RESET

==============================================*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img {
	border: none;
	vertical-align: top;
}

/*==============================================

    2. SETTING MIXIN

==============================================*/
/*==============================================
    2-1. mixins
==============================================*/
/* font family */
@font-face {
	font-family: 'Noto Sans Japanese';
	font-style: normal;
	font-weight: 700;
	src: url("../font/NotoSansCJKjp-Bold.eot");
	src: url("../font/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Bold.woff") format("woff"), url("../font/NotoSansCJKjp-Bold.ttf") format("truetype");
}

/*==============================================

    3. BASE

==============================================*/
html {
	font-size: 12px;
}

@media screen and (min-width: 740px) {
	html {
		font-size: 15px;
	}
}

body {
	font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 1.6;
	letter-spacing: .06em;
	background-color: #fff;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}

a:link, a:visited {
	color: #333;
}

a:hover {
	opacity: .85;
}

a[data-rel="external"]:after {
	content: '';
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-left: .5em;
	background: transparent url("../image/icon-external.png") no-repeat scroll center center;
	background-size: contain;
	margin-right: .5em;
}

/*==============================================

    4. LAYOUT

==============================================*/
/*==============================================
    4-1. LAYOUT LIMIT
==============================================*/
.l-limit {
	background-color: #fff;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-limit {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		min-width: 1000px;
		max-width: 1400px;
	}
}

/*==============================================
    4-2. LAYOUT FRAME
==============================================*/
.l-frame {
	width: 87.50%;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-frame {
		width: 93.83333333%;
	}
}

.l-frame--sm {
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-frame--sm {
		width: 65.54174%;
	}
}

.l-frame--md {
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-frame--md {
		width: 82.77087%;
	}
}

.l-frame--full {
	width: 100%;
}

/*==============================================
    4-3. LAYOUT COLUMNS
==============================================*/
@media screen and (min-width: 740px) {
	.l-col {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.l-col--sp {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.l-col__item {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-col__item {
		width: 50%;
	}
}

@media screen and (min-width: 740px) {
	.l-col__2 {
		width: 47.96137%;
	}
}

@media screen and (min-width: 740px) {
	.l-col__3 {
		width: 31.08348%;
	}
}

@media screen and (min-width: 740px) {
	.l-col__4 {
		width: 25%;
	}
}

.l-col--fw {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.l-col--rr {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@media screen and (min-width: 740px) {
	.t-slide--3::after {
		content: "";
		display: block;
		width: 31.08348%;
	}
}

/*==============================================
    4-X. LAYOUT XXXXXX
==============================================*/
/*==============================================

    5. HEADER

==============================================*/
/*==============================================
    5-1. l-header
==============================================*/
.l-header {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

@media screen and (min-width: 740px) {
	.l-header {
		margin: 0 3%;
		border-bottom: 1px solid #d7d7d7;
	}
}

.l-header__logo {
	width: 76px;
	margin: 0 auto;
	padding-top: 14px;
	background-color: #ffffff;
}

@media screen and (min-width: 740px) {
	.l-header__logo {
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
		width: 130px;
	}
}

.l-header__gnav {
	z-index: 1000;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	bottom: 0;
	background-color: #ffffff;
	overflow-y: scroll;
}

@media screen and (min-width: 740px) {
	.l-header__gnav {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		background-color: transparent;
		overflow: visible;
		top: auto;
	}
}

/*==============================================
    5-2. l-nav
==============================================*/
.l-nav {
	position: relative;
	padding-bottom: 30px;
}

@media screen and (min-width: 740px) {
	.l-nav {
		padding: 18px 0;
	}
}

.l-nav__ul__item {
	text-align: center;
	margin: 1.5em 0;
	font-size: 1.5em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item {
		text-align: left;
		margin: 0;
		padding-right: .9em;
		font-size: 0.9333333333em;
		line-height: 2.2;
	}
}

.l-nav__ul--main {
	padding: 2em 0 0 0;
}

@media screen and (min-width: 740px) {
	.l-nav__ul--main {
		padding: 0;
	}
}

@media screen and (min-width: 740px) {
	.l-nav__ul--main .l-nav__ul__item a {
		position: relative;
		display: block;
		-webkit-transition: width 1s ease .1s;
		transition: width 1s ease .1s;
	}
	.l-nav__ul--main .l-nav__ul__item a::before {
		content: '';
		position: absolute;
		bottom: -18px;
		left: 0;
		width: 100%;
		height: 4px;
		background: #1e1e1e none no-repeat scroll top left;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: right;
		transform-origin: right;
		-webkit-transition: -webkit-transform .3s ease .1s;
		transition: -webkit-transform .3s ease .1s;
		transition: transform .3s ease .1s;
		transition: transform .3s ease .1s, -webkit-transform .3s ease .1s;
	}
	.l-nav__ul--main .l-nav__ul__item a:hover::before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: left;
		transform-origin: left;
	}
}

.l-nav__ul--sub {
	width: 80px;
	margin: 0 auto;
	padding-top: 5em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul--sub {
		width: auto;
		padding-top: 0;
	}
}

.l-nav__ul__item--icon {
	width: 30px;
	padding-right: .6em;
}

.l-nav__ul__item--entry {
	position: absolute;
	top: 1em;
	right: 0;
	left: 0;
	margin: auto;
	padding-right: .6em;
	font-size: 1.1666666667em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--entry {
		position: relative;
		top: auto;
		font-size: 0.8571428571em;
	}
}

.l-nav__ul__item--entry a {
	display: block;
	width: 120px;
	margin: 0 auto;
	padding: .5em 3em;
	color: #ffffff;
	border-radius: 100px;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--entry a {
		display: block;
		width: auto;
		margin: 0;
		padding: 0 1.8em;
	}
}

.l-nav__ul__item--bg {
	top: -1em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--bg {
		top: auto;
	}
}

.l-nav__ul__item--ng {
	top: 2.5em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--ng {
		top: auto;
	}
}

.l-nav__ul__item--mc {
	top: 6em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--mc {
		top: auto;
	}
}

.l-nestnav {
	display: none;
	text-align: center;
	padding-top: 10px;
}

@media screen and (min-width: 740px) {
	.l-nestnav {
		position: absolute;
		width: 270px;
		top: 48px;
		margin-left: -94px;
		padding: 10px 0 16px 0;
		background-color: #000000;
	}
}

.l-nestnav .l-nestnav__item {
	padding: 6px 0;
}

@media screen and (min-width: 740px) {
	.l-nestnav .l-nestnav__item {
		padding: 0;
	}
}

.l-nestnav .l-nestnav__item a {
	font-size: 0.6em;
}

@media screen and (min-width: 740px) {
	.l-nestnav .l-nestnav__item a {
		padding: 6px 0;
		font-size: 0.8rem;
		color: #ffffff;
	}
}

.l-nestnav .l-nestnav__item a::before {
	display: none;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--btn {
		cursor: pointer;
	}
}

.l-nav__ul__item--btn span {
	position: relative;
}

.l-nav__ul__item--btn span::after {
	position: absolute;
	content: '+';
	margin-left: 20px;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--btn span::after {
		display: none;
	}
}

.selected.l-nav__ul__item--btn span {
	position: relative;
}

.selected.l-nav__ul__item--btn span::after {
	position: absolute;
	content: '-';
}

.l-nav__ul__item--btn {
	position: relative;
	z-index: 10;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--btn {
		position: relative;
		display: block;
		-webkit-transition: width 1s ease .1s;
		transition: width 1s ease .1s;
	}
	.l-nav__ul__item--btn::before {
		content: '';
		position: absolute;
		bottom: -18px;
		left: 0;
		width: calc(100% - .9em);
		height: 4px;
		background: #1e1e1e none no-repeat scroll top left;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: right;
		transform-origin: right;
		-webkit-transition: -webkit-transform .3s ease .1s;
		transition: -webkit-transform .3s ease .1s;
		transition: transform .3s ease .1s;
		transition: transform .3s ease .1s, -webkit-transform .3s ease .1s;
	}
	.l-nav__ul__item--btn:hover::before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: left;
		transform-origin: left;
	}
}

/*==============================================
    5-3. l-line
==============================================*/
.l-line {
	z-index: 50;
	position: absolute;
	width: 44px;
	height: 44px;
	top: 0;
	right: 6.25%;
	cursor: pointer;
}

@media screen and (min-width: 740px) {
	.l-line {
		display: none;
	}
}

.l-line span {
	position: absolute;
	width: 20px;
	height: 1px;
	top: 28px;
	right: 0;
	background: #000000 none no-repeat scroll top left;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.l-line span::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 1px;
	top: 6px;
	background: #000000 none no-repeat scroll top left;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.l-line span::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 1px;
	top: -6px;
	background: #000000 none no-repeat scroll top left;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.js-active.l-line span {
	background: #fff none no-repeat scroll top left;
}

.js-active.l-line span::before {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 0;
}

.js-active.l-line span::after {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top: 0;
}

/*==============================================
    5-3. l-line
==============================================*/
@media screen and (min-width: 740px) {
	.home a.bar-home::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.company a.bar-company::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.vision a.bar-vision::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.service a.bar-service::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.interview a.bar-interview::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.recruiting a.bar-recruiting::before {
		-webkit-transform: none;
		transform: none;
	}
}

/*==============================================

    6. FOOTER

==============================================*/
/*==============================================
    6-1. l-footer
==============================================*/
.l-footer {
	position: relative;
}

.l-footer__backtop {
	position: fixed;
	width: 33px;
	right: 6.25%;
	bottom: 3%;
}

@media screen and (min-width: 740px) {
	.l-footer__backtop {
		width: 66px;
		right: 3%;
		bottom: 2%;
	}
}

.l-footer__image {
	padding-bottom: 3em;
}

@media screen and (min-width: 740px) {
	.l-footer__image {
		padding-bottom: 5em;
	}
}

.l-footer__link {
	text-align: center;
	padding-top: 3em;
	border-radius: 200px;
}

@media screen and (min-width: 740px) {
	.l-footer__link {
		width: 47.96137339%;
		padding-top: 0;
	}
}

.l-footer__link a {
	display: block;
	padding: 0.4em 0 0.9em 0;
	color: #ffffff;
	border-radius: 200px;
	font-size: 1.514286em;
}

.l-footer__link a span {
	font-size: 0.5833333333em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.l-footer__text {
	text-align: center;
	margin: 5em 0 1em 0;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

@media screen and (min-width: 740px) {
	.l-footer__text {
		margin: 6em 0 .5em 0;
		font-size: 0.8571428571em;
	}
}

.l-footer__sns {
	width: 100px;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-footer__sns {
		width: 100px;
	}
}

.l-footer__sns__item {
	width: 40px;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-footer__sns__item {
		width: 40px;
	}
}

.l-footer__copyright {
	font-size: 0.8333333333em;
	padding: 6em 0 2.5em 0;
}

@media screen and (min-width: 740px) {
	.l-footer__copyright {
		text-align: center;
		padding: 3em 0 2em 0;
		font-size: 0.7333333333em;
	}
}

/*==============================================

    7. COMPONENT

==============================================*/
/*==============================================
    7-1. COMPONENT TEXT
==============================================*/
.c-h1 {
	display: inline-block;
	position: relative;
	font-size: 0.9166666667em;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 700;
}

.c-h1::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	top: -20px;
	background-color: #65bed4;
}

@media screen and (min-width: 740px) {
	.c-h1 {
		font-size: 1.0666666667em;
	}
	.c-h1::before {
		width: 100%;
		height: 4px;
		top: -32px;
	}
}

.c-h2 {
	text-align: center;
	margin: 3.4em 0 1.5em 0;
	font-size: 1.5em;
	line-height: 2.0;
	letter-spacing: 1px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 700;
}

@media screen and (min-width: 740px) {
	.c-h2 {
		margin: 1em 0 1.5em 0;
		font-size: 3.2em;
		line-height: 1.8;
		letter-spacing: 3px;
	}
}

.c-h3 {
	position: relative;
	margin: 0 0 2em 0;
	font-size: 1.25em;
	letter-spacing: 1px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 700;
}

.c-h3::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	top: -10px;
	background-color: #65bed4;
}

@media screen and (min-width: 740px) {
	.c-h3 {
		margin: 0 0 1.4em 0;
		font-size: 1.6em;
		line-height: 1.8;
		letter-spacing: 2px;
	}
	.c-h3::before {
		width: 69px;
		height: 4px;
		top: 18px;
		margin-left: -13%;
	}
}

@media screen and (min-width: 740px) {
	.c-h3--tweak::before {
		top: 22px;
	}
}

.c-h3 span {
	font-size: 0.7333333333em;
}

@media screen and (min-width: 740px) {
	.c-h3 span {
		font-size: 0.6666666667em;
	}
}

.c-h4 {
	position: relative;
	margin: 0 0 2em 0;
	font-size: 1.25em;
	line-height: 1.8;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 700;
}

.c-h4::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	top: -10px;
	background-color: #65bed4;
}

@media screen and (min-width: 740px) {
	.c-h4 {
		font-size: 1.6em;
	}
	.c-h4::before {
		width: 39px;
		height: 4px;
		top: -30px;
	}
}

.c-h5 {
	position: relative;
	margin: 0 0 2em 0;
	font-size: 1.25em;
	letter-spacing: 1px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 700;
}

.c-h5::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	top: -10px;
	background-color: #65bed4;
}

@media screen and (min-width: 740px) {
	.c-h5 {
		margin: 0 0 1.4em 0;
		font-size: 1.6em;
		line-height: 1.8;
		letter-spacing: 2px;
	}
	.c-h5::before {
		width: 69px;
		height: 4px;
		top: 18px;
		margin-left: -22%;
	}
}

.c-p {
	font-size: 1.0833333333em;
	line-height: 2.0;
	color: #333333;
}

@media screen and (min-width: 740px) {
	.c-p {
		font-size: 1em;
	}
}

.c-note {
	color: #999999;
	font-size: 0.7142857143em;
}

/*==============================================
    7-2. COMPONENT BUTTON
==============================================*/
.c-btn {
	text-align: center;
	width: 71.42857143%;
	margin: 0 auto 4em auto;
}

@media screen and (min-width: 740px) {
	.c-btn {
		width: 374px;
		margin: 0 auto 8em auto;
	}
}

.c-btn a {
	display: block;
	text-align: center;
	padding: 1.5em 0;
}

/*==============================================
    7-3. COMPONENT MAIN PATTERN1
==============================================*/
.c-main {
	z-index: 2;
	position: relative;
	margin: 0 auto;
	margin-top: 2em;
	padding: 30px 0 0 0;
}

@media screen and (min-width: 740px) {
	.c-main {
		width: 82.77087034%;
		margin-top: 2em;
		padding: 70px 0 200px 0;
	}
}

.c-main__title {
	margin: 0 0 4em 0;
	line-height: 2.0;
	font-size: 0.8333333333em;
}

@media screen and (min-width: 740px) {
	.c-main__title {
		font-size: 0.9333333333em;
	}
}

.c-main__cover {
	z-index: 2;
	position: relative;
	width: 87.5%;
}

@media screen and (min-width: 740px) {
	.c-main__cover {
		width: 95.49356223%;
		margin: 0 auto;
	}
}

.c-main__cover__heading {
	z-index: 2;
	position: relative;
}

.c-main__cover__heading--second {
	z-index: 5;
	position: absolute;
	width: 100%;
	top: 0;
}

.c-main__cover__heading--black {
	width: 88%;
	margin-top: 6px;
}

@media screen and (min-width: 740px) {
	.c-main__cover__heading--black {
		width: 64%;
		margin-top: 22px;
		margin-left: 8px;
	}
}

.c-main__subheading {
	z-index: 2;
	position: relative;
	margin: 1em 0 0 0;
}

@media screen and (min-width: 740px) {
	.c-main__subheading {
		width: 75.64377682%;
		margin: 3em 0 0 0;
	}
}

.c-main__slide {
	z-index: 0;
	position: absolute;
	width: 53.57142857%;
	top: 5em;
	right: 0;
}

@media screen and (min-width: 740px) {
	.c-main__slide {
		width: 45.70815451%;
		top: auto;
		right: -2.7em;
		top: 18em;
	}
}

/*==============================================
    7-4. COMPONENT BREADCRUMB
==============================================*/
.c-breadcrumb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 2em 0 5.4em 0;
	font-size: 0.8333333333em;
}

@media screen and (min-width: 740px) {
	.c-breadcrumb {
		margin: 1.5em 0 8em 0;
		font-size: 0.7333333333em;
	}
}

.c-breadcrumb__item a {
	color: #a6a6a6;
}

/*==============================================
    7-5. COMPONENT CATEGORY
==============================================*/
.c-category {
	width: 27.5%;
	margin-top: -14px;
}

@media screen and (min-width: 740px) {
	.c-category {
		width: 14.83333333%;
		margin-top: -36px;
	}
}

/*==============================================
    7-6. COMPONENT INTRO
==============================================*/
.c-intro {
	width: 71.42857143%;
	margin: 0 auto 6em auto;
}

@media screen and (min-width: 740px) {
	.c-intro {
		width: auto;
		margin: 0 auto 8em auto;
	}
}

.c-intro__pf__name {
	position: relative;
	margin: 2em 0 2em 0;
	font-size: 1.1666666667em;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 700;
}

.c-intro__pf__name::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 1px;
	top: -10px;
	background-color: #65bed4;
}

@media screen and (min-width: 740px) {
	.c-intro__pf__name {
		margin: 1em 0 2em 0;
		font-size: 1.2em;
	}
	.c-intro__pf__name::before {
		width: 27px;
		height: 2px;
		top: -17px;
	}
}

.c-intro__pf__name span {
	font-size: 0.7857142857em;
	color: #333333;
	font-family: "ヒラギノ角ゴ ProN W3", sans-serif;
	font-weight: 300;
}

@media screen and (min-width: 740px) {
	.c-intro__pf__name span {
		font-size: 0.7777777778em;
	}
}

.c-intro__pf__text {
	color: #787878;
	line-height: 1.9;
	letter-spacing: 1px;
}

@media screen and (min-width: 740px) {
	.c-intro__pf__text {
		font-size: 0.8666666667em;
	}
}

/*==============================================
    7-7. ENTRY
==============================================*/
.c-bg {
	background-color: #b4c6d4;
}

.c-ng {
	background-color: #65bed4;
}

.c-mc {
	background-color: #6bc7c1;
}

/*==============================================
    7-X. COMPONENT TRANSITIOIN
==============================================*/
.c-fromtop {
	position: relative;
	opacity: 0;
	top: -30px;
}

.c-frombottom {
	position: relative;
	opacity: 0;
	bottom: -30px;
}

.c-fromright {
	position: relative;
	opacity: 0;
	right: -30px;
}

.c-fromleft {
	position: relative;
	opacity: 0;
	left: -30px;
}

.c-scale {
	position: relative;
	-webkit-transform: scale(0.96, 0.96);
	transform: scale(0.96, 0.96);
	opacity: 0;
	-webkit-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
}

.js-animate.c-scale {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
}

/*==============================================

    ?. UTILITY

==============================================*/
.u-hidden {
	display: none;
}

@media (max-width: 740px) {
	.u-hidden-sp {
		display: none;
	}
}

@media (min-width: 741px) {
	.u-hidden-pc {
		display: none;
	}
}

.u-left {
	text-align: left;
}

.u-center {
	text-align: center;
}

.u-right {
	text-align: right;
}

.u-red {
	color: red;
}

/*==============================================

    9. THEME COMPANY

==============================================*/
/*==============================================
    9-1. COMPANY
==============================================*/
.t-cover {
	margin: 4em auto 0 auto;
}

@media screen and (min-width: 740px) {
	.t-cover {
		margin: 6em auto 0 auto;
	}
}

.t-cover--bottom {
	margin: 7em auto 0 auto;
}

@media screen and (min-width: 740px) {
	.t-cover--bottom {
		margin: 7em auto 0 auto;
	}
}

@media screen and (min-width: 740px) {
	.t-sentence {
		width: 47.96137339%;
	}
}

.t-sentence__block {
	margin: 2em 0 5em 0;
}

@media screen and (min-width: 740px) {
	.t-sentence__block {
		margin: 3em 0 7em 0;
	}
}

.t-sentence__block__list {
	margin: 1em 0;
}

.t-sentence__block__list li {
	list-style-type: decimal;
	margin-left: 1.5em;
	font-size: 0.9333333333em;
	line-height: 2;
}

@media screen and (min-width: 740px) {
	.t-graph {
		width: 45.70815451%;
		margin: 4em -4% 0 0;
	}
}

.t-graph__image {
	margin: 0 0 6em 0;
}

@media screen and (min-width: 740px) {
	.t-graph__image {
		margin: 0 0 7em 0;
	}
}

.t-graph__image--small {
	width: 71.42857143%;
	margin: 0 auto 6em auto;
}

@media screen and (min-width: 740px) {
	.t-graph__image--small {
		width: 100%;
	}
}

/*==============================================
    9-X. COMPANY LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
.c-main__slide {
	top: 17em;
}

@media screen and (min-width: 740px) {
	.c-main__slide {
		width: 34%;
		right: 6%;
		bottom: -4em;
	}
}
