@import "_common.scss";
/*==============================================

    13. THEME RECRUITING

==============================================*/
/*==============================================
    13-1. RECRUITING SECTIOIN
==============================================*/
.t-section {
    position: relative;
    
    margin: 4em auto;
    @include mq(md) {
        width: 89%;
        margin: 6em 0 6em auto;
    }
}
.t-section__title {
    margin-bottom: 1em;
    padding: 0 6.25%;
    font-size: 1.5em;
    line-height: 2.0;
    letter-spacing: .09em;
    @include ff-noto;
    @include mq(md) {
        padding: 0;
        font-size: 3.2em;
        line-height: 1.7;
        letter-spacing: .10em;
    }
}
.t-section__text {
    padding-bottom: 1em;
    padding: 0 6.25% 1em 6.25%;
    font-size: 1.0833333333em;
    line-height: 2.0;
    @include mq(md) {
        z-index: 2;
        position: relative;
        width: 37.5%;
        padding: 0 0 2em 0;
        font-size: 1em;
        white-space: nowrap;
    }
}
.t-section__image {
    @include mq(md) {
        z-index: 0;
        position: relative;
        width: 54.2%;
    }
}
.t-cover {
    margin: 4em auto 0 auto;
    @include mq(md) {
        margin: 6em auto 0 auto;
    }
}

/*==============================================
    13-2. RECRUITING LIST
==============================================*/
.t-list {
    margin: 6em 0;
    @include mq(md) {
        margin: 0;
        border-bottom: 1px solid #dbdbdb;
    }
}
.t-list--last {
    @include mq(md) {
        border-bottom: none;
    }
}
.t-list__title {
    position: relative;
    margin: 1em 0 1em 0;
    padding: 0 0 0 1.5em;
    font-size: 1.5em;
    font-weight: bold;
    &::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 4px;
        top: 13px;
        left: 0;
        margin: auto;
        background-color: #65bed4;
    }
    @include mq(md) {
        margin: 2em 0 0 0;
        font-size: 1.3333333333em;
        &::before {
            top: 15px;
        }
    }
}
.t-list--col {
    @include mq(md) {
        flex-wrap: wrap;
        &::after {
            content: "";
            display: block;
            width: 31.7%;
        }
    }
}
.t-list__item {
    margin: 3em 0;
    @include mq(md) {
        width: 31.7%;
        margin: 2em 0 3em 0;
    }
}
.t-list__item__image {
    width: 71.4%;
    margin: 0 auto 1.5em auto;
    @include mq(md) {
        width: 100%;
    }
}
.t-list__item__heading {
    font-size: 1.1666666667em;
    font-weight: bold;
    @include mq(md) {
        font-size: 0.9333333333em;
    }
}
.t-list__item__content {
    font-size: 1.1666666667em;
    line-height: 1.6;
    @include mq(md) {
        font-size: 0.9333333333em;
    }
}

/*==============================================
    13-3. RECRUITING TABLE
==============================================*/
// pc table
.t-table--pc {
    display: none;
    @include mq(md) {
        display: table;
        width: 100%;
        margin: 4em auto 6em auto;
    }
}
.t-table--pc tr {
    @include mq(md) {
        border-top: 1px solid #dbdbdb;
    }
}
.t-table--pc .t-table--last {
    border-bottom: 1px solid #dbdbdb;
}
.t-table--pc .t-table--first {
    @include mq(md) {
        padding: 3em 0 3em 0;
    }
}
.t-table--pc tr th {
    @include mq(md) {
        color: #333333;
        display: table-cell;
        width: 253px;
        padding-top: 2.4em;
        font-size: 1.0666666667em;
        @include ff-noto;
    }
} 
.t-table--pc tr td {
    @include mq(md) {
        color: #333333;
        display: table-cell;
        padding: 3em 0 3em 4%;
        font-size: 0.8666666667em;
    }
} 

// sp table
.t-table--sp {
    width: 100%;
    margin: 4em 0 6em 0;
    @include mq(md) {
        display: none;
    }
}
.t-table--sp tr {
    display: block;
    padding: 3em 0 1em 0;
    border-top: 1px solid #dbdbdb;
}
.t-table--sp tr th {
    display: block;
    font-size: 0.9166666667em;
    padding-bottom: 1em;
}
.t-table--sp tr td {
    display: block;
    font-size: 1.0833333333em;
    padding-bottom: 2em;
}
.t-table--sp tr td b {
    @include ff-noto;
}
.t-table--sp .t-table--last {
    border-bottom: 1px solid #dbdbdb;
}


/*==============================================
    13-X. RECRUITING LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
.t-section {
    .c-h3 {
        padding: 0 6.25%;
        @include mq(md) {
            padding: 0 0 0 0.4em;
            &::before {
                margin-left: -9.6%;
            }
        }
    }
}
.c-h3 {
    @include mq(md) {
        line-height: 1.6;
        &::before {
            margin-left: -10.4%;
        }
    }
}
