@import "_common.scss";
/*==============================================

    11. THEME INTERVIEW

==============================================*/
/*==============================================
    11-1. INTERVIEW
==============================================*/
.t-block {
    margin: 0 0 6em 0;
}
.t-other {
    padding: 0 0 4em 0;
    @include mq(md) {
        padding: 0 0 8em 0;
    }
}
.t-other__image {
    margin: 6em auto 0 auto;
    @include mq(md) {
        margin: 8em auto 0 auto;
    }
}
.t-other__heading {
    text-align: center;
    margin: 4em 0 2em 0;
    font-size: 1.0833333333em;
    @include ff-noto;
    @include mq(md) {
        margin: 5em 0 3em 0;
        font-size: 1.2em;
    }
}
.t-window__pos {
    margin: 2em 0 4em 0;
    font-size: 1em;
    @include mq(md) {
        margin: 1em 0 2em 0;
        font-size: 0.8em;
    }
}

/*==============================================
    11-X. INTERVIEW LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
.interview_watanabe {
    [data-interview="watanabe"] {
        display: none;
    }
}
.interview_mizutani {
    [data-interview="mizutani"] {
        display: none;
    }
}
.interview_nakamura {
    [data-interview="nakamura"] {
        display: none;
    }
}
.interview_nishimura {
    [data-interview="nishimura"] {
        display: none;
    }
}
.interview_ohira_ceo {
    [data-interview="ohira"] {
        display: none;
    }
}
.interview_shimizu {
    [data-interview="shimizu"] {
        display: none;
    }
}
.interview_suzuki {
    [data-interview="suzuki"] {
        display: none;
    }
}