@import "_common.scss";
/*==============================================

    9. THEME COMPANY

==============================================*/
/*==============================================
    9-1. COMPANY
==============================================*/
.t-center {
    padding: 0 6.25%;
    @include mq(md) {
        text-align: center;
    }
}
.t-cover {
    margin: 4em auto 0 auto;
    @include mq(md) {
        margin: 8em auto 0 auto;
    }
}
.t-block {
    @include mq(md) {
        margin: 4em 0 0 0;
        width: 79.18454936%;
    }
}

// pc table
.t-table--pc {
    display: none;
    @include mq(md) {
        display: table;
        width: 100%;
        margin: 4em auto 6em auto;
    }
}
.t-table--pc tr {
    @include mq(md) {
        border-top: 1px solid #dbdbdb;
    }
}
.t-table--pc .t-table--last {
    border-bottom: 1px solid #dbdbdb;
}
.t-table--pc .t-table--first {
    @include mq(md) {
        padding: 3em 0 3em 0;
    }
}
.t-table--pc tr th {
    @include mq(md) {
        color: #333333;
        display: table-cell;
        width: 253px;
        padding-top: 2.4em;
        font-size: 1.0666666667em;
        @include ff-noto;
    }
} 
.t-table--pc tr td {
    @include mq(md) {
        color: #333333;
        display: table-cell;
        padding: 3em 0 3em 4%;
        font-size: 0.8666666667em;
    }
} 
.t-table--pc tr td a {
    text-decoration: underline;
}

// sp table
.t-table--sp {
    width: 100%;
    margin: 4em 0 6em 0;
    @include mq(md) {
        display: none;
    }
}
.t-table--sp tr {
    display: block;
    padding: 3em 0 1em 0;
    border-top: 1px solid #dbdbdb;
}
.t-table--sp tr th {
    display: block;
    font-size: 0.9166666667em;
    padding-bottom: 1em;
}
.t-table--sp tr td {
    display: block;
    font-size: 1.0833333333em;
    padding-bottom: 2em;
}
.t-table--sp tr td a {
    text-decoration: underline;
}
.t-table--sp tr td b {
    @include ff-noto;
}
.t-table--sp .t-table--last {
    border-bottom: 1px solid #dbdbdb;
}

/*==============================================
    9-X. COMPANY LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
.c-h3 {
    @include mq(md) {
        &::before {
            margin-left: -10%;
        }
    }
}
.c-main__slide {
    top: 18em;
    @include mq(md) {
        width: 51.93133047%;
        right: 4%;
        bottom: -4em;
    }
}
