@import "_common.scss";
/*==============================================

    13. THEME VISION

==============================================*/
/*==============================================
    13-1. VISION SECTIOIN
==============================================*/
.t-section {
    position: relative;
    
    margin: 4em auto;
    @include mq(md) {
        width: 89%;
        margin: 6em 0 6em auto;
    }
}
.t-section__title {
    margin-bottom: 1em;
    padding: 0 6.25%;
    font-size: 1.5em;
    line-height: 2.0;
    letter-spacing: .09em;
    @include ff-noto;
    @include mq(md) {
        padding: 0;
        font-size: 3.2em;
        line-height: 1.7;
        letter-spacing: .10em;
    }
}
.t-section__text {
    padding-bottom: 1em;
    padding: 0 6.25% 1em 6.25%;
    font-size: 1.0833333333em;
    line-height: 2.0;
    @include mq(md) {
        z-index: 2;
        position: relative;
        width: 37.5%;
        padding: 0 0 2em 0;
        font-size: 1em;
        white-space: nowrap;
    }
}
.t-section__image {
    @include mq(md) {
        z-index: 0;
        position: relative;
        width: 54.2%;
    }
}

/*==============================================
    13-2. VISION BLOCK
==============================================*/
.t-block {
    margin-bottom: 4em;
    @include mq(md) {
        margin-bottom: 8em;
    }
}
.t-block__item {
    @include mq(md) {
        width: 46%;
    }
}
.t-block__image {
    @include mq(md) {
        width: 46%;
    }
}

.t-block__item__heading {
    margin: -.4em 0 1em 0;
    font-size: 1.8333333333em;
    letter-spacing: .09em;
    @include ff-noto;
    @include mq(md) {
        font-size: 2.6666666667em;
    }
}
p.t-block__item__text {
    font-size: 1.0833333333em;
    line-height: 1.8;
    @include mq(md) {
        font-size: 1em;
        line-height: 2.0;
        white-space: nowrap;
    }
}

/*==============================================
    13-X. VISION LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
.t-section {
    .c-h3 {
        padding: 0 6.25%;
        @include mq(md) {
            padding: 0 0 0 0.4em;
            &::before {
                margin-left: -9.6%;
            }
        }
    }
}
.c-h3 {
    @include mq(md) {
        line-height: 1.6;
        &::before {
            margin-left: -10.4%;
        }
    }
}
