@import "_common.scss";
/*==============================================

    8. THEME HOME

==============================================*/
/*==============================================
    8-1. HOME T-WINDOW
==============================================*/
.t-window--cover {
    padding: 180px 0 110px 0;
    @include mq(md) {
        padding: 130px 0 520px 0;
    }
}
.t-window, .t-slide .t-window {
    position: relative;
    width: 71.42857143%;
    margin: 0 auto;
    @include mq(md) {
        @include percentage(350, 1126);
    }
}
.t-window--2 {
    @include mq(md) {
        top: 6em;
    }
}
.t-window--3 {
    @include mq(md) {
        top: 12em;
    }
}
.t-window__image {
    // -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); 
    // clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    // -webkit-clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%); 
    // clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
    // transition: clip-path 1.5s ease 0s;
}
.js-active.t-window__image {
    // -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
    // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
}
.t-window__image a {
    @include mq(md) {
        // backface-visibility: hidden;
        // width: auto;
        // height: auto;
        // overflow: hidden;
    }
}
.t-window__image a img {
    // display: block;
    @include mq(md) {
        &:hover {
            // opacity: .85;
        }
    }
}
.t-window__title {
    position: absolute;
    bottom: 6em;
    @include mq(md) {
        bottom: 7em;
    }
}
.t-window__title img {
    width: auto;
    height: 36px;
    margin-left: -15%;
    @include mq(md) {
        height: 42px;
        margin-left: -8px;
    }
}
.t-window__pos {
    margin: 2em 0 4em 0;
    font-size: 1em;
    @include mq(md) {
        margin: 1em 0 2em 0;
        font-size: 0.8em;
    }
}

.bx-wrapper {
    z-index: 0;
    position: relative;
    &::after {
        z-index: 120;
        position: absolute;
        content: '';
        background: transparent url(../../image/interview-title.png) no-repeat scroll center center;
        background-size: cover;
        width: 238px;
        height: 36px;
        overflow: visible;
        bottom: 12em;
        margin-left: -15%;
    }
}
.bx-wrapper .t-window__image {
    -webkit-clip-path: none;
    clip-path: none;
}

.t-window__bottom {
    position: relative;
}
.t-scene__small {
    position: absolute;
    width: 18.21428571%;
    left: 20%;
    bottom: -80px;
    @include mq(md) {
        width: 18%;
        right: 41%;
        bottom: -170px;
        left: auto;
    }
}
.t-scene__large {
    position: absolute;
    width: 29.64285714%;
    right: 18%;
    bottom: -130px;
    @include mq(md) {
        width: 28%;
        right: -4%;
        bottom: -240px;
    }
}
.t-scene--bottom {
    position: relative;
}
.t-scene--bottom .t-scene__small {
    position: absolute;
    width: 29.28571429%;
    top: -56px;
    left: 34%;
    @include mq(md) {
        width: 22.5%;
        top: -240px;
        right: 40%;
        left: auto;
    }
}
.t-scene--bottom .t-scene__large {
    position: absolute;
    width: 20%;
    top: -70px;
    right: 4%;
    @include mq(md) {
        width: 15.41666667%;
        top: -280px;
        right: 14%;
    }
}

/*==============================================
    8-X. HOME LYAOUT & COMPONENT(PREDEFINED)
==============================================*/