@import "_common.scss";
/*==============================================

    9. THEME COMPANY

==============================================*/
/*==============================================
    9-1. COMPANY
==============================================*/
.t-cover {
    margin: 4em auto 0 auto;
    @include mq(md) {
        margin: 6em auto 0 auto;
    }
}
.t-cover--bottom {
    margin: 7em auto 0 auto;
    @include mq(md) {
        margin: 7em auto 0 auto;
    }
}
.t-sentence {
    @include mq(md) {
        width: 47.96137339%;
    }
}
.t-sentence__block {
    margin: 2em 0 5em 0;
    @include mq(md) {
        margin: 3em 0 7em 0;
    }
}
.t-sentence__block__list {
    margin: 1em 0;
}
.t-sentence__block__list li {
    list-style-type: decimal;
    margin-left: 1.5em;
    font-size: 0.9333333333em;
    line-height: 2;
}
.t-graph {
    @include mq(md) {
        width: 45.70815451%;
        margin: 4em -4% 0 0;
    }
}
.t-graph__image {
    margin: 0 0 6em 0;
    @include mq(md) {
        margin: 0 0 7em 0;
    }
}
.t-graph__image--small {
    width: 71.42857143%;
    margin: 0 auto 6em auto;
    @include mq(md) {
        width: 100%;
    }
}

/*==============================================
    9-X. COMPANY LYAOUT & COMPONENT(PREDEFINED)
==============================================*/
.c-main__slide {
    top: 17em;
    @include mq(md) {
        width: 34%;
        right: 6%;
        bottom: -4em;
    }
}