/*==============================================

    3. BASE

==============================================*/
html {
    font-size: $SMALLFONTSIZE;
	@include mq(md) {
		font-size: $MEDIUMFONTSIZE;
	}
}
body {
	font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 1.6;
	letter-spacing: .06em;
    background-color: #fff;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    transition: opacity .4s ease;
	&:link,&:visited {
		color: $FONTCOLOR;
	}
}
a:hover {
	opacity: .85;
}
a[data-rel="external"]:after {
    content: '';
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
    background: transparent url('../image/icon-external.png') no-repeat scroll center center;
    background-size: contain;
    margin-right: .5em;
}
