/*==============================================

    2. SETTING MIXIN

==============================================*/
// fontsize
$SMALLFONTSIZE:  12px;
$MEDIUMFONTSIZE: 15px;
$LARGEFONTSIZE:  18px;

// color
$FONTCOLOR: #333;
$BLOG: #b4c6d4;
$NEWGRADUATE: #65bed4;
$MIDCAREER: #6bc7c1;

// breakpoint
$SMALL_BREAKPOINT: 480px;
$MEDIUM_BREAKPOINT: 740px;
$LARGE_BREAKPOINT: 1000px;
$XLARGE_BREAKPOINT: 1600px;

$BREAKPOINTS: (
	'sm': 'screen and (min-width: ' + $SMALL_BREAKPOINT + ')',
	'md': 'screen and (min-width: ' + $MEDIUM_BREAKPOINT + ')',
	'lg': 'screen and (min-width: ' + $LARGE_BREAKPOINT + ')',
	'xl': 'screen and (min-width: ' + $XLARGE_BREAKPOINT + ')',
) !default;

// prefix --- @include PropertySetPrefix(border-radius, 10px);
$set-prefix: '' , -moz- , -webkit-;
@mixin PropertySetPrefix($name, $value) {
    @each $prefix in $set-prefix {
        #{$prefix}#{$name}: $value;
    }
}

/*==============================================
    2-1. mixins
==============================================*/
@mixin mq($breakpoint: md) {
	@media #{map-get($BREAKPOINTS, $breakpoint)} {
		@content;
	}
}

@mixin percentage($child: 100, $parent:100) {
	width: ($child / $parent) * 100%;
}

/* font family */
@mixin ff-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin ff-noto {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 700;
}
@mixin ff-hira {
    font-family:  "ヒラギノ角ゴ ProN W3", sans-serif;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('../font/NotoSansCJKjp-Bold.eot');
    src: url('../font/NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/NotoSansCJKjp-Bold.woff') format('woff'),
    url('../font/NotoSansCJKjp-Bold.ttf')  format('truetype');
}