include /include/_mixin.pug
doctype html
html(lang="ja")
    head
        include include/_head.pug
        include include/_config.pug
            - var key = "home"
            - var page = page[key]
                include include/_meta.pug
        // stylesheets
        link(rel="stylesheet" href=rootPath + "asset/css/slick-theme.css")
        link(rel="stylesheet" href=rootPath + "asset/css/slick.css")
        link(rel="stylesheet" href=rootPath + "asset/css/jquery.bxslider.css")
        link(rel="stylesheet" href=rootPath + "asset/css/theme-home.css")

    body.home
        .l-limit
            include include/_header.pug

            //- =================================================================================================

            //- Let's Coding!!
            .l-frame
                .c-main
                    .c-main__cover
                        //- pc時の動き ---------------------------------------------------------------------------
                        .c-main__cover__heading.u-hidden-sp: include image/heading-pc-before.svg
                        .c-main__cover__heading.c-main__cover__heading--second.u-hidden-sp: include image/heading-pc.svg
                        .c-main__cover__heading--black.u-hidden-sp: img(src="image/heading-bleach-pc.png" alt="")
                        
                        //- sp時の動き ---------------------------------------------------------------------------
                        .c-main__heading.u-hidden-pc: include image/heading-sp-before.svg
                        .c-main__heading.c-main__cover__heading--second.u-hidden-pc: include image/heading-sp.svg
                        .c-main__cover__heading--black.u-hidden-pc: img(src="image/heading-bleach-sp.png" alt="")

                    //- .c-main__subheading: img(src="image/subheading.png" alt="")

                    ul.c-main__slide
                        li: img(src="image/slide06.jpg" alt="")
                        li: img(src="image/slide02.jpg" alt="")
                        li: img(src="image/slide04.jpg" alt="")
                        li: img(src="image/slide05.jpg" alt="")
                        li: img(src="image/slide06.jpg" alt="")
                    .t-scene
                        .t-scene__small: img(src="image/img01.jpg" alt="")
                        .t-scene__large: img(src="image/img02.jpg" alt="")

            //- =================================================================================================

            .l-frame.u-hidden-sp.t-second
                .t-window--cover.l-col.l-col--fw

                    .t-window
                        .t-window__image.c-frombottom: a(href=rootPath + "interview/ohira.html")
                            img(src="image/message-img01.jpg" alt="")
                        .t-window__title: img(src="image/interview-title.png" alt="")
                        p.t-window__pos 
                            |大平 啓介
                            br
                            |代表取締役社長

                    .t-window.t-window--2
                        .t-window__image.c-frombottom: a(href=rootPath + "company/index.html")
                            img(src="image/company-img01.jpg" alt="")
                        .t-window__title: img(src="image/company-title.png" alt="")
                        p.t-window__pos 
                            |会社・事業について

                    .t-window.t-window--3
                        .t-window__image.c-frombottom: a(href=rootPath + "interview/mizutani.html")
                            img(src="image/interview-img01.jpg" alt="")
                        .t-window__title: img(src="image/interview-title.png" alt="")
                        p.t-window__pos 
                            |水谷 慶
                            br
                            |マネージャー職

                    .t-window
                        .t-window__image.c-frombottom: a(href=rootPath + "interview/watanabe.html")
                            img(src="image/interview-img02.jpg" alt="")
                        .t-window__title: img(src="image/interview-title.png" alt="")
                        p.t-window__pos 
                            |渡邉 緑   
                            br
                            |マネージャー職

                    .t-window.t-window--2
                        .t-window__image.c-frombottom: a(href=rootPath + "interview/nakamura.html")
                            img(src="image/interview-img03.jpg" alt="")
                        .t-window__title: img(src="image/interview-title.png" alt="")
                        p.t-window__pos 
                            |中村 悠人   
                            br
                            |セールスライター職

                    .t-window.t-window--3
                        .t-window__image.c-frombottom: a(href=rootPath + "interview/shimizu.html")
                            img(src="image/interview-img05.jpg" alt="")
                        .t-window__title: img(src="image/interview-title.png" alt="")
                        p.t-window__pos 
                            |清水 里沙
                            br
                            |セールスライター職

                    .t-window
                        .t-window__image.c-frombottom: a(href=rootPath + "interview/nishimura.html")
                            img(src="image/interview-img06.jpg" alt="")
                        .t-window__title: img(src="image/interview-title.png" alt="")
                        p.t-window__pos 
                            |西村 政晃
                            br
                            |グロースハッカー職

                    .t-window.t-window--2
                        .t-window__image.c-frombottom: a(href=rootPath + "interview/suzuki.html")
                            img(src="image/interview-img07.jpg" alt="")
                        .t-window__title: img(src="image/interview-title.png" alt="")
                        p.t-window__pos 
                            |鈴木 大志
                            br
                            |セールスライター職

                    .t-window.t-window--3
                        .t-window__image.c-frombottom: a(href=rootPath + "vision/index.html")
                            img(src="image/vision-img01.jpg" alt="")
                        .t-window__title: img(src="image/vision-title.png" alt="")
                        p.t-window__pos 
                            |ビジョン

                    .t-window
                        .t-window__image.c-frombottom: a(href=rootPath + "service/index.html")
                            img(src="image/service-img01.jpg" alt="")
                        .t-window__title: img(src="image/service-title.png" alt="")
                        p.t-window__pos 
                            |サービス

                    .t-window.t-window--2
                        .t-window__image.c-frombottom: a(href=rootPath + "recruiting/index.html")
                            img(src="image/recruiting-img01.jpg" alt="")
                        .t-window__title: img(src="image/recruiting-title.png" alt="")
                        p.t-window__pos 
                            |リクルーティング

                    .t-window
                    .t-window

                .t-scene.t-scene--bottom
                    .t-scene__small.c-frombottom: img(src="image/img03.jpg" alt="")
                    .t-scene__large.c-frombottom: img(src="image/img04.jpg" alt="")

            //- =================================================================================================

            .l-frame.u-hidden-pc
                .t-window--cover

                    .t-slide.c-frombottom
                        .t-window
                            .t-window__image: a(href=rootPath + "interview/ohira.html")
                                img(src="image/message-img01.jpg" alt="")
                            p.t-window__pos 
                                |大平 啓介
                                br
                                |代表取締役社長

                        .t-window
                            .t-window__image: a(href=rootPath + "interview/mizutani.html")
                                img(src="image/interview-img01.jpg" alt="")
                            p.t-window__pos 
                                |水谷 慶
                                br
                                |マネージャー職

                        .t-window
                            .t-window__image: a(href=rootPath + "interview/watanabe.html")
                                img(src="image/interview-img02.jpg" alt="")
                            p.t-window__pos 
                                |渡邉 緑
                                br
                                |マネージャー職

                        .t-window
                            .t-window__image: a(href=rootPath + "interview/nakamura.html")
                                img(src="image/interview-img03.jpg" alt="")
                            p.t-window__pos 
                                |中村 悠人
                                br
                                |セールスライター職

                        .t-window
                            .t-window__image: a(href=rootPath + "interview/shimizu.html")
                                img(src="image/interview-img05.jpg" alt="")
                            p.t-window__pos 
                                |清水 里沙
                                br
                                |セールスライター職

                        .t-window
                            .t-window__image: a(href=rootPath + "interview/nishimura.html")
                                img(src="image/interview-img06.jpg" alt="")
                            p.t-window__pos 
                                |西村 政晃
                                br
                                |グロースハッカー職

                        .t-window
                            .t-window__image: a(href=rootPath + "interview/suzuki.html")
                                img(src="image/interview-img07.jpg" alt="")
                            p.t-window__pos 
                                |鈴木 大志
                                br
                                |セールスライター職

                    .t-window.c-frombottom
                        .t-window__image: a(href=rootPath + "company/index.html")
                            img(src="image/company-img01.jpg" alt="")
                        .t-window__title: img(src="image/company-title.png" alt="")
                        p.t-window__pos 
                            |会社・事業について

                    .t-window.c-frombottom
                        .t-window__image: a(href=rootPath + "vision/index.html")
                            img(src="image/vision-img01.jpg" alt="")
                        .t-window__title: img(src="image/vision-title.png" alt="")
                        p.t-window__pos
                            |ビジョン

                    .t-window.c-frombottom
                        .t-window__image: a(href=rootPath + "service/index.html")
                            img(src="image/service-img01.jpg" alt="")
                        .t-window__title: img(src="image/service-title.png" alt="")
                        p.t-window__pos
                            |サービス

                    .t-window.c-frombottom
                        .t-window__image: a(href=rootPath + "recruiting/index.html")
                            img(src="image/recruiting-img01.jpg" alt="")
                        .t-window__title: img(src="image/recruiting-title.png" alt="")
                        p.t-window__pos
                            |リクルーティング

                .t-scene.t-scene--bottom
                    .t-scene__small.c-frombottom: img(src="image/img03.jpg" alt="")
                    .t-scene__large.c-frombottom: img(src="image/img04.jpg" alt="")

            //- =================================================================================================

            include include/_footer.pug
        include include/_scripts.pug
        script(src=rootPath + "asset/js/min/slick.min.js")
        script(src=rootPath + "asset/js/min/jquery.bxslider.min.js")
        script(src=rootPath + "asset/js/min/vivus.min.js")
        script(src=rootPath + "asset/js/theme-home.js")