/*==============================================

    7. COMPONENT

==============================================*/
/*==============================================
    7-1. COMPONENT TEXT
==============================================*/
.c-h1 {
    display: inline-block;
    position: relative;
    font-size: 0.9166666667em;
    @include ff-noto;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        top: -20px;
        background-color: #65bed4;
    }
    @include mq(md) {
        font-size: 1.0666666667em;
        &::before {
            width: 100%;
            height: 4px;
            top: -32px;
        }
    }
}
.c-h2 {
    text-align: center;
    margin: 3.4em 0 1.5em 0;
    font-size: 1.5em;
    line-height: 2.0;
    letter-spacing: 1px;
    @include ff-noto;
    @include mq(md) {
        margin: 1em 0 1.5em 0;
        font-size: 3.2em;
        line-height: 1.8;
        letter-spacing: 3px;
    }
}
.c-h3 {
    position: relative;
    margin: 0 0 2em 0;
    font-size: 1.25em;
    letter-spacing: 1px;
    @include ff-noto;
    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        top: -10px;
        background-color: #65bed4;
    }
    @include mq(md) {
        margin: 0 0 1.4em 0;
        font-size: 1.6em;
        line-height: 1.8;
        letter-spacing: 2px;
        &::before {
            width: 69px;
            height: 4px;
            top: 18px;
            margin-left: -13%;
        }
    }
}
.c-h3--tweak {
    @include mq(md) {
        &::before {
            top: 22px;
        }
    }
}
.c-h3 span {
    font-size: 0.7333333333em;
    @include mq(md) {
        font-size: 0.6666666667em;
    }
}
.c-h4 {
    position: relative;
    margin: 0 0 2em 0;
    font-size: 1.25em;
    line-height: 1.8;
    @include ff-noto;
    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        top: -10px;
        background-color: #65bed4;
    }
    @include mq(md) {
        font-size: 1.6em;
        &::before {
            width: 39px;
            height: 4px;
            top: -30px;
        }
    }
}
.c-h5 {
    position: relative;
    margin: 0 0 2em 0;
    font-size: 1.25em;
    letter-spacing: 1px;
    @include ff-noto;
    &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        top: -10px;
        background-color: #65bed4;
    }
    @include mq(md) {
        margin: 0 0 1.4em 0;
        font-size: 1.6em;
        line-height: 1.8;
        letter-spacing: 2px;
        &::before {
            width: 69px;
            height: 4px;
            top: 18px;
            margin-left: -22%;
        }
    }
}
.c-p {
    font-size: 1.0833333333em;
    line-height: 2.0;
    color: #333333;
    @include mq(md) {
        font-size: 1em;
    }
}
.c-note {
    color: #999999;
    font-size: 0.7142857143em;
}

/*==============================================
    7-2. COMPONENT BUTTON
==============================================*/
.c-btn {
    text-align: center;
    width: 71.42857143%;
    margin: 0 auto 4em auto;
    @include mq(md) {
        width: 374px;
        margin: 0 auto 8em auto;
    }
}
.c-btn a {
    display: block;
    text-align: center;
    padding: 1.5em 0;
    @include mq(md) {
    }
}

/*==============================================
    7-3. COMPONENT MAIN PATTERN1
==============================================*/
.c-main {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    margin-top: 2em;
    padding: 30px 0 0 0;
    @include mq(md) {
        width: 82.77087034%;
        margin-top: 2em;
        padding: 70px 0 200px 0;
    }
}
.c-main__title {
    margin: 0 0 4em 0;
    line-height: 2.0;
    font-size: 0.8333333333em;
    @include mq(md) {
        font-size: 0.9333333333em;
    }
}
.c-main__cover {
    z-index: 2;
    position: relative;
    width: 87.5%;
    @include mq(md) {
        width: 95.49356223%;
        margin: 0 auto;
    }
}
.c-main__cover__heading {
    z-index: 2;
    position: relative;
}
.c-main__cover__heading--second {
    z-index: 5;
    position: absolute;
    width: 100%;
    top: 0;
}
.c-main__cover__heading--black {
    width: 88%;
    margin-top: 6px;
    @include mq(md) {
        width: 64%;
        margin-top: 22px;
        margin-left: 8px;
    }
}
.c-main__subheading {
    z-index: 2;
    position: relative;
    margin: 1em 0 0 0;
    @include mq(md) {
        width: 75.64377682%;
        margin: 3em 0 0 0;
    }
}
.c-main__slide {
    z-index: 0;
    position: absolute;
    width: 53.57142857%;
    top: 5em;
    right: 0;
    @include mq(md) {
        width: 45.70815451%;
        top: auto;
        right: -2.7em;
        top: 18em;
    }
}

/*==============================================
    7-4. COMPONENT BREADCRUMB
==============================================*/
.c-breadcrumb {
    display: flex;
    margin: 2em 0 5.4em 0;
    font-size: 0.8333333333em;
    @include mq(md) {
        margin: 1.5em 0 8em 0;
        font-size: 0.7333333333em;
    }
}
.c-breadcrumb__item a {
    color: #a6a6a6;
}


/*==============================================
    7-5. COMPONENT CATEGORY
==============================================*/
.c-category {
    width: 27.5%;
    margin-top: -14px;
    @include mq(md) {
        width: 14.83333333%;
        margin-top: -36px;
    }
}

/*==============================================
    7-6. COMPONENT INTRO
==============================================*/
.c-intro {
    width: 71.42857143%;
    margin: 0 auto 6em auto;
    @include mq(md) {
        width: auto;
        margin: 0 auto 8em auto;
    }
}
.c-intro__pf__name {
    position: relative;
    margin: 2em 0 2em 0;
    font-size: 1.1666666667em;
    @include ff-noto;
    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 1px;
        top: -10px;
        background-color: #65bed4;
    }
    @include mq(md) {
        margin: 1em 0 2em 0;
        font-size: 1.2em;
        &::before {
            width: 27px;
            height: 2px;
            top: -17px;
        }
    }
}
.c-intro__pf__name span {
    font-size: 0.7857142857em;
    color: #333333;
    @include ff-hira;
    @include mq(md) {
        font-size: 0.7777777778em;
    }
}
.c-intro__pf__text {
    color: #787878;
    line-height: 1.9;
    letter-spacing: 1px;
    @include mq(md) {
        font-size: 0.8666666667em;
    }
}

/*==============================================
    7-7. ENTRY
==============================================*/
.c-bg {background-color: $BLOG;}
.c-ng {background-color: $NEWGRADUATE;}
.c-mc {background-color: $MIDCAREER;}

/*==============================================
    7-X. COMPONENT TRANSITIOIN
==============================================*/
// 上から下
.c-fromtop {
    position: relative;
    opacity: 0;
    top: -30px;
}
// 下から上
.c-frombottom {
    position: relative;
    opacity: 0;
    bottom: -30px;
}
// 右から左
.c-fromright {
    position: relative;
    opacity: 0;
    right: -30px;
}
// 左から右
.c-fromleft {
    position: relative;
    opacity: 0;
    left: -30px;
}
.c-scale {
    position: relative;
    transform: scale(0.96, 0.96);
    opacity: 0;
    transition: all .5s ease 0s;
}
.js-animate.c-scale {
    transform: scale(1.0, 1.0);
    opacity: 1;
}