/*==============================================

    ?. UTILITY

==============================================*/
.u-hidden {
    display: none;
}
@media (max-width:740px){
	.u-hidden-sp {
		display: none;
	}
}
@media (min-width:741px){
	.u-hidden-pc {
		display: none;
	}
}
.u-left     { text-align: left; }
.u-center   { text-align: center; }
.u-right    { text-align: right; }

.u-red      { color: red; }