/*
Theme Name: BLEACH BLOG
Theme URI: https://wordpress.org/themes/bleach-blog/
Author: ant
Author URI: https://wordpress.org/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: bleach-blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/*==============================================

    1. RESET

==============================================*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

img {
	border: none;
	vertical-align: top;
}

/*==============================================

    2. SETTING MIXIN

==============================================*/
/*==============================================
    2-1. mixins
==============================================*/
/* font family */
@font-face {
	font-family: 'Noto Sans Japanese';
	font-style: normal;
	font-weight: 700;
	src: url("../font/NotoSansCJKjp-Bold.eot");
	src: url("../font/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansCJKjp-Bold.woff") format("woff"), url("../font/NotoSansCJKjp-Bold.ttf") format("truetype");
}

/*==============================================

    3. BASE

==============================================*/
html {
	font-size: 12px;
}

@media screen and (min-width: 740px) {
	html {
		font-size: 15px;
	}
}

body {
	font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	line-height: 1.6;
	letter-spacing: .06em;
	background-color: #fff;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	transition: opacity .4s ease;
}

a:link, a:visited {
	color: #333;
}

a:hover {
	opacity: .85;
}

a[data-rel="external"]:after {
	content: '';
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-left: .5em;
	background: transparent url("../image/icon-external.png") no-repeat scroll center center;
	background-size: contain;
	margin-right: .5em;
}

/*==============================================

    4. LAYOUT

==============================================*/
/*==============================================
    4-1. LAYOUT LIMIT
==============================================*/
.l-limit {
	background-color: #fff;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-limit {
		box-sizing: border-box;
		min-width: 1000px;
		max-width: 1400px;
	}
}

/*==============================================
    4-2. LAYOUT FRAME
==============================================*/
.l-frame {
	width: 87.50%;
	margin: 0 auto;
}

.l-frame--sm {
	margin: 0 auto;
}

.l-frame--md {
	margin: 0 auto;
}

.l-frame--full {
	width: 100%;
}

.l-main {
    padding: 3em 0;
}

@media screen and (min-width: 740px) {
    /* SPのみ */
    .l-frame {
		width: 93.83333333%;
    }
    .l-frame--sm {
		width: 65.54174%;
	}
    .l-frame--md {
		width: 82.77087%;
	}
}

/*==============================================
    4-3. LAYOUT COLUMNS
==============================================*/
@media screen and (min-width: 741px) {
    /* PCのみ */
	.l-col {
		display: -webkit-flex;
		display: -ms-flexbox;
        display: flex;
    }
    .l-col__item {
		width: 50%;
    }
    .l-col__2 {
		width: 47.96137%;
    }
    .l-col__3 {
		width: 31.08348%;
    }
    .l-col__4 {
		width: 22.4%;
	}
}

.l-col__4--cover::before{
    content:"";
    display: block;
    width:23%;
    order:1;
}

.l-col__4--cover::after{
    content:"";
    display: block;
    width:23%;
}

.l-col--sp {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.l-col__item {
	width: 100%;
	margin: 0 auto;
}

.l-col--sb {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.l-col--fw {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.l-col--rr {
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@media screen and (max-width: 740px) {
    .l-col__4 {
		width: 48.5%;
	}
}

/*==============================================
    4-X. LAYOUT XXXXXX
==============================================*/
/*==============================================

    5. HEADER

==============================================*/
/*==============================================
    5-1. l-header
==============================================*/
.l-header {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

@media screen and (min-width: 740px) {
	.l-header {
		margin: 0 3%;
		border-bottom: 1px solid #d7d7d7;
	}
}

.l-header__logo {
	width: 76px;
	margin: 0 auto;
	padding-top: 14px;
	background-color: #ffffff;
}

@media screen and (min-width: 740px) {
	.l-header__logo {
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
		width: 130px;
	}
}

.l-header__gnav {
	z-index: 1000;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50px;
	bottom: 0;
	background-color: #ffffff;
	overflow-y: scroll;
}

@media screen and (min-width: 740px) {
	.l-header__gnav {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		background-color: transparent;
		overflow: visible;
		top: auto;
	}
}

/*==============================================
    5-2. l-nav
==============================================*/
.l-nav {
	position: relative;
	padding-bottom: 30px;
}

@media screen and (min-width: 740px) {
	.l-nav {
		padding: 18px 0;
	}
}

.l-nav__ul__item {
	text-align: center;
	margin: 1.5em 0;
	font-size: 1.5em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item {
		text-align: left;
		margin: 0;
		padding-right: .9em;
		font-size: 0.9333333333em;
		line-height: 2.2;
	}
}

.l-nav__ul--main {
	padding: 2em 0 0 0;
}

@media screen and (min-width: 740px) {
	.l-nav__ul--main {
		padding: 0;
	}
}

@media screen and (min-width: 740px) {
	.l-nav__ul--main .l-nav__ul__item a {
		position: relative;
		display: block;
		transition: width 1s ease .1s;
	}
	.l-nav__ul--main .l-nav__ul__item a::before {
		content: '';
		position: absolute;
		bottom: -18px;
		left: 0;
		width: 100%;
		height: 4px;
		background: #1e1e1e none no-repeat scroll top left;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: right;
		transform-origin: right;
		transition: -webkit-transform .3s ease .1s;
		transition: transform .3s ease .1s;
		transition: transform .3s ease .1s, -webkit-transform .3s ease .1s;
	}
	.l-nav__ul--main .l-nav__ul__item a:hover::before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: left;
		transform-origin: left;
	}
}

.l-nav__ul--sub {
	width: 80px;
	margin: 0 auto;
	padding-top: 5em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul--sub {
		width: auto;
		padding-top: 0;
	}
}

.l-nav__ul__item--icon {
	width: 30px;
	padding-right: .6em;
}

.l-nav__ul__item--entry {
	position: absolute;
	top: 1em;
	right: 0;
	left: 0;
	margin: auto;
	padding-right: .6em;
	font-size: 1.1666666667em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--entry {
		position: relative;
		top: auto;
		font-size: 0.8571428571em;
	}
}

.l-nav__ul__item--entry a {
	display: block;
	width: 120px;
	margin: 0 auto;
	padding: .5em 3em;
	color: #ffffff;
	border-radius: 100px;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--entry a {
		display: block;
		width: auto;
		margin: 0;
		padding: 0 1.8em;
	}
}

.l-nav__ul__item--bg {
	top: -1em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--bg {
		top: auto;
	}
}

.l-nav__ul__item--ng {
	top: 2.5em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--ng {
		top: auto;
	}
}

.l-nav__ul__item--mc {
	top: 6em;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--mc {
		top: auto;
	}
}

.l-nestnav {
	display: none;
	text-align: center;
	padding-top: 10px;
}

@media screen and (min-width: 740px) {
	.l-nestnav {
		position: absolute;
		width: 270px;
		top: 66px;
		margin-left: -90px;
		padding: 10px 0 16px 0;
		background-color: #000000;
	}
}

.l-nestnav .l-nestnav__item {
	padding: 6px 0;
}

@media screen and (min-width: 740px) {
	.l-nestnav .l-nestnav__item {
		padding: 0;
	}
}

.l-nestnav .l-nestnav__item a {
	font-size: 0.6em;
}

@media screen and (min-width: 740px) {
	.l-nestnav .l-nestnav__item a {
		padding: 6px 0;
		font-size: 0.8rem;
		color: #ffffff;
	}
}

.l-nestnav .l-nestnav__item a::before {
	display: none;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--btn {
		cursor: pointer;
	}
}

.l-nav__ul__item--btn span {
	position: relative;
}

.l-nav__ul__item--btn span::after {
	position: absolute;
	content: '+';
	margin-left: 20px;
}

@media screen and (min-width: 740px) {
	.l-nav__ul__item--btn span::after {
		display: none;
	}
}

.selected.l-nav__ul__item--btn span {
	position: relative;
}

.selected.l-nav__ul__item--btn span::after {
	position: absolute;
	content: '-';
}

/*==============================================
    5-3. l-line
==============================================*/
.l-line {
	z-index: 1500;
	position: absolute;
	width: 44px;
	height: 44px;
	top: 0;
	right: 6.25%;
	cursor: pointer;
}

@media screen and (min-width: 740px) {
	.l-line {
		display: none;
	}
}

.l-line span {
	position: absolute;
	width: 20px;
	height: 1px;
	top: 28px;
	right: 0;
	background: #000000 none no-repeat scroll top left;
	transition: all .3s ease 0s;
}

.l-line span::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 1px;
	top: 6px;
	background: #000000 none no-repeat scroll top left;
	transition: all .3s ease 0s;
}

.l-line span::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 1px;
	top: -6px;
	background: #000000 none no-repeat scroll top left;
	transition: all .3s ease 0s;
}

.js-active.l-line span {
	background: #fff none no-repeat scroll top left;
}

.js-active.l-line span::before {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 0;
}

.js-active.l-line span::after {
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	top: 0;
}

/*==============================================
    5-3. l-line
==============================================*/
@media screen and (min-width: 740px) {
	.home a.bar-home::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.company a.bar-company::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.message a.bar-message::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.interview a.bar-interview::before {
		-webkit-transform: none;
		transform: none;
	}
}

@media screen and (min-width: 740px) {
	.information a.bar-information::before {
		-webkit-transform: none;
		transform: none;
	}
}

/*==============================================

    6. FOOTER

==============================================*/
/*==============================================
    6-1. l-footer
==============================================*/
.l-footer {
	position: relative;
}

.l-footer__backtop {
	position: fixed;
	width: 33px;
	right: 6.25%;
	bottom: 3%;
}

@media screen and (min-width: 740px) {
	.l-footer__backtop {
		width: 66px;
		right: 3%;
		bottom: 2%;
	}
}

.l-footer__image {
    opacity: 0;
	padding: 3em 0 3em 0;
}

@media screen and (min-width: 740px) {
	.l-footer__image {
		padding: 8em 0 2em 0;
	}
}

.l-footer__link {
	text-align: center;
	padding-top: 3em;
	border-radius: 200px;
}

@media screen and (min-width: 740px) {
	.l-footer__link {
		width: 47.96137339%;
		padding-top: 0;
	}
}

.l-footer__link a {
	display: block;
	padding: 0.4em 0 0.9em 0;
	color: #ffffff;
	border-radius: 200px;
	font-size: 1.514286em;
}

.l-footer__link a span {
	font-size: 0.5833333333em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.l-footer__text {
	text-align: center;
	margin: 5em 0 1em 0;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

@media screen and (min-width: 740px) {
	.l-footer__text {
		margin: 6em 0 .5em 0;
		font-size: 0.8571428571em;
	}
}

.l-footer__sns {
	width: 100px;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-footer__sns {
		width: 100px;
	}
}

.l-footer__sns__item {
	width: 40px;
	margin: 0 auto;
}

@media screen and (min-width: 740px) {
	.l-footer__sns__item {
		width: 40px;
	}
}

.l-footer__copyright {
	font-size: 0.8333333333em;
	padding: 6em 0 2.5em 0;
}

@media screen and (min-width: 740px) {
	.l-footer__copyright {
		text-align: center;
		padding: 3em 0 2em 0;
		font-size: 0.7333333333em;
	}
}

/*==============================================

    7. COMPONENT

==============================================*/
/*==============================================
    7-1. COMPONENT TEXT
==============================================*/
.c-title {
    text-align: center;
	position: relative;
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 1em 0 .2em 0;
    font-size: 4.125em;
    letter-spacing: 4px;
}

@media (max-width: 740px) {
    .c-title {
        margin: 1em 0 .2em 0;
        font-size: 4.1666666667em;
        letter-spacing: 2px;
    }   
}

.c-h1 {
    text-align: center;
	position: relative;
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 1em 0 1em 0;
    font-size: 4.125em;
    letter-spacing: 4px;
}

.c-h1 b {
    display: block;
    margin-bottom: -120px;
    font-size: 0.393em;
}

#business .c-h1 span {
    color: #8080F0;
}

#recruiting .c-h1 span {
    color: #6BC788;
}

@media (max-width: 740px) {
    .c-h1 {
        margin: 1em 0 .5em 0;
        font-size: 2.8333333333em;
        letter-spacing: 2px;
    }
    
    .c-h1 b {
        margin-bottom: -4em;
    }
}

.c-h2 {
    position: relative;
    padding-bottom: 1em;
	font-size: 1.0666666667em;
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#business .c-h2 span {
    color: #8080F0;
}

#recruiting .c-h2 span {
    color: #6BC788;
}

.c-h2::before {
	content: '';
	position: absolute;
	width: 47px;
    height: 4px;
    top: -32px;
	background-color: #65bed4;
}

@media screen and (max-width: 740px) {
	.c-h2 {
        margin: 1em 0 .5em 0;
        font-size: 1em;
        letter-spacing: 1px;
	}
	.c-h2::before {
		width: 50px;
		height: 2px;
		top: -20px;
	}
}

.c-h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.c-p {
	font-size: 1.0833333333em;
	line-height: 2.0;
	color: #333333;
}

@media screen and (min-width: 740px) {
	.c-p {
		font-size: 1em;
	}
}

.c-note {
	color: #999999;
	font-size: 0.7142857143em;
}

.c-lede {
    text-align: center;
    margin: 0 0 88px 0;
    font-size: 0.9375em;
    line-height: 1.8;
}

@media (max-width: 740px) {
    .c-lede {
        text-align: left;
        margin: 0 0 2em 0;
        font-size: 1.0833333333em;
        line-height: 1.8;
    }
}

/*==============================================
    7-2. COMPONENT BUTTON
==============================================*/
.c-btn {
	text-align: center;
	width: 71.42857143%;
	margin: 0 auto 4em auto;
}

@media screen and (min-width: 740px) {
	.c-btn {
		width: 374px;
		margin: 0 auto 8em auto;
	}
}

.c-btn a {
	display: block;
	text-align: center;
	padding: 1.5em 0;
}

/*==============================================
    7-3. COMPONENT MAIN PATTERN1
==============================================*/
.c-main {
	z-index: 2;
	position: relative;
	margin: 0 auto;
	padding: 30px 0 0 0;
}

@media screen and (min-width: 740px) {
	.c-main {
		width: 82.77087034%;
		padding: 70px 0 0 0;
	}
}

.c-main__title {
	margin: 0 0 4em 0;
	line-height: 2.0;
	font-size: 0.8333333333em;
}

@media screen and (min-width: 740px) {
	.c-main__title {
		font-size: 0.9333333333em;
	}
}

.c-main__cover {
	z-index: 2;
	position: relative;
	width: 87.5%;
}

@media screen and (min-width: 740px) {
	.c-main__cover {
		width: 95.49356223%;
		margin: 0 auto;
	}
}

.c-main__cover__heading {
	z-index: 2;
	position: relative;
}

.c-main__cover__heading--second {
	z-index: 5;
	position: absolute;
	width: 100%;
	top: 0;
}

.c-main__cover__heading--black {
	width: 88%;
	margin-top: 6px;
}

@media screen and (min-width: 740px) {
	.c-main__cover__heading--black {
		width: 64%;
		margin-top: 22px;
		margin-left: 8px;
	}
}

.c-main__subheading {
	z-index: 2;
	position: relative;
	margin: 1em 0 0 0;
}

@media screen and (min-width: 740px) {
	.c-main__subheading {
		width: 75.64377682%;
		margin: 3em 0 0 0;
	}
}

.c-main__slide {
	z-index: 0;
	position: absolute;
	width: 53.57142857%;
	top: 5em;
	right: 0;
}

@media screen and (min-width: 740px) {
	.c-main__slide {
		width: 45.70815451%;
		top: auto;
		right: -2.7em;
		top: 18em;
	}
}

/*==============================================
    7-4. COMPONENT BREADCRUMB
==============================================*/
.c-breadcrumb {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 2em 0 5.4em 0;
	font-size: 0.8333333333em;
}

@media screen and (min-width: 740px) {
	.c-breadcrumb {
		margin: 1.5em 0 8em 0;
		font-size: 0.7333333333em;
	}
}

.c-breadcrumb__item a {
	color: #a6a6a6;
}

/*==============================================
    7-5. ENTRY
==============================================*/
.c-bg {
	background-color: #b4c6d4;
}

.c-ng {
	background-color: #65bed4;
}

.c-mc {
	background-color: #6bc7c1;
}

/*==============================================
    7-X. COMPONENT TRANSITIOIN
==============================================*/
.c-fromtop {
	position: relative;
	opacity: 0;
	top: -30px;
}

.c-frombottom {
	position: relative;
	opacity: 0;
	bottom: -30px;
}

.c-fromright {
	position: relative;
	opacity: 0;
	right: -30px;
}

.c-fromleft {
	position: relative;
	opacity: 0;
	left: -30px;
}

.c-scale {
	position: relative;
	-webkit-transform: scale(0.96, 0.96);
	transform: scale(0.96, 0.96);
	opacity: 0;
	transition: all .5s ease 0s;
}

.js-animate.c-scale {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
}

/*==============================================

    ?. UTILITY

==============================================*/
.u-hidden {
	display: none;
}

@media (max-width: 740px) {
	.u-hidden-sp {
		display: none;
	}
}

@media (min-width: 741px) {
	.u-hidden-pc {
		display: none;
	}
}

.u-left {
	text-align: left;
}

.u-center {
	text-align: center;
}

.u-right {
	text-align: right;
}

.u-red {
	color: red;
}

/*==============================================

    8. THEME BLOG

==============================================*/
/*==============================================
    8-1. BLOG TOP
==============================================*/
.t-top {
    position: relative;
    text-align: center;
    display: block;
    width: 48%;
}

@media (max-width: 740px) {
	.t-top {
        width: 100%;
        margin: 2em 0;
    }
} 

.t-top a {
    display: block;
    padding: 2em 0;
}

@media (max-width: 740px) {
    .t-top a {
        display: block;
        padding: 1em 0;
    }
}

.t-top--business {
    border-top: 1px solid #8080F0;
    border-bottom: 1px solid #8080F0;
}

.t-top--business::after {
    position: absolute;
    content: '';
    background: transparent url(./asset/image/blog-arrow-business.png) no-repeat scroll center center;
    background-size: cover;
    width: 35px;
    height: 6px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.t-top--business:hover::after {
    animation: .8s arrowAnimate linear infinite;
}

.t-top--business .t-top__title span {
    color: #8080F0;
}

.t-top--recruiting {
    border-top: 1px solid #6BC788;
    border-bottom: 1px solid #6BC788;
}

.t-top--recruiting::after {
    position: absolute;
    content: '';
    background: transparent url(./asset/image/blog-arrow-recruiting.png) no-repeat scroll center center;
    background-size: cover;
    width: 35px;
    height: 6px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.t-top--recruiting:hover::after {
    animation: .8s arrowAnimate linear infinite;
}

.t-top--recruiting .t-top__title span {
    color: #6BC788;
}

.t-top__name {
    display: block;
    margin-bottom: -6px;
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .07em;
}

@media (max-width: 740px) {
    .t-top__name {
        display: block;
        margin-bottom: -6px;
        font-size: 1.125em;
        font-weight: bold;
    }
}

.t-top__title {
    position: relative;
    margin-bottom: 1.2em;
    font-size: 2.375em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .08em;
}

@media (max-width: 740px)  {
    .t-top__title {
        margin-bottom: 1.2em;
        font-size: 2.3333333333em;
        letter-spacing: .076em;
    }
}

.t-top--business .t-top__title::after {
    position: absolute;
    content: '';
    width: 31px;
    height: 4px;
    background-color: #8080F0;
    right: 0;
    left: 0;
    bottom: -.5em;
    margin: auto;
}

.t-top--recruiting .t-top__title::after {
    position: absolute;
    content: '';
    width: 31px;
    height: 4px;
    background-color: #6BC788;
    right: 0;
    left: 0;
    bottom: -.5em;
    margin: auto;
}

.t-top__text {
    font-size: 0.9375em;
    line-height: 1.6;
}

@media (max-width: 740px) {
    .t-top__text {
        text-align: left;
        padding: 0 6.25%;
        font-size: 1.0833333333em;
        line-height: 1.8;
    }
}


@keyframes arrowAnimate {
    0%      {transform: translateX(0);}
    70%    {transform: translateX(8px);}
    100%    {transform: translateX(0px);}
}

/*==============================================
    8-1. BLOG TAGS
==============================================*/
.t-tags {
    position: relative;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#business .t-tags {
    border-top: 1px solid #8080F0;
    border-bottom: 1px solid #8080F0;
}

#recruiting .t-tags {
    border-top: 1px solid #6BC788;
    border-bottom: 1px solid #6BC788;
}

.t-tags__ul {
    display: flex;
    width: 600px;
    margin: 0 auto;
    padding: 1.2em 0;
}

@media (max-width: 740px) {
    .t-tags {
        padding: .5em 0;
    }

    .t-tags__ul {
        display: block;
        width: 100%;
        margin: 0 auto;
        /* padding: 1.5em 0; */
        padding: 0;
    }
}

.t-tags__ul__item {
    margin-left: 3.2em;
    padding: .5em 0;
}

@media (max-width: 740px) {
    .t-tags__ul__item {
        margin-left: 0;
        padding: .5em 0;
    }
}

.t-tags__ul__item a {
    font-size: 1.0666666667em;
    font-weight: bold;
}

.t-tags__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 2em;
    bottom: 0;
    margin: auto;
}

@media (max-width: 740px) {
    .t-tags__btn {
        width: 20px;
        height: 20px;
        right: .2em;
    }
}

.t-tags__btn a img {
    display: block;
    transition: all .5s ease 0s;
    transform: rotate(-45deg);
    transform: scale(1);
}

.t-tags__btn a {
    display: block;
}

.t-tags__select {
    display: none;
}

@media (max-width: 740px) {
    .t-tags__select {
        display: block;
        padding: .5em 0;
        font-size: 1.1666666667em;
        font-weight: bold;
    }
}

.t-tags__btn a img.js-active  {
    transform: rotate(45deg);
}



/*==============================================
    8-2. BLOG ARTICLE
==============================================*/
.t-article--cover::after {
    content: "";
    display: block;
    width: 31.08348%;
}

.t-article {
    margin-bottom: 3em;
    overflow: hidden;
}

@media (max-width: 740px) {
    .t-article {
        margin-bottom: 1em;
    }
}

.t-article a {
    display: block;
}

.t-article__box {
    position: relative;
}

.t-article__box__category {
    position: absolute;
    font-weight: bold;
    padding: 6px 6px 6px 10px;
    font-size: 0.75em;
}

#business .t-article__box__category {
    background-color: #FAFAFA;
    border-left: 4px solid #8080F0;
}

#recruiting .t-article__box__category {
    background-color: #FAFAFA;
    border-left: 4px solid #6BC788;
}

#topics .t-article__box__category {
    background-color: #FAFAFA;
    border-left: 4px solid #6BC788;
}

.t-article__box__image {
    margin: 1em 0;
}

.t-article__title {
    font-size: 1.0666666667em;
    font-weight: bold;
}

@media (max-width: 740px) {
    .t-article__title {
        font-size: 1.3333333333em;
    }
}

.t-article__summary {
    margin: .7em 0 .7em;
    font-size: 0.8666666667em;
}

@media (max-width: 740px) {
    .t-article__summary {
        margin: 1em 0 1.5em;
        font-size: 1.0833333333em;
        line-height: 1.6;
    }
}

.t-article__date {
    font-size: 0.8em;
}

/*==============================================
    8-3. BLOG SINGLE
==============================================*/
.t-detail {
    width: 25.3%;
}

@media (max-width: 740px) {
    .t-detail {
        width: 100%;
    }
}

.t-detail__category {
    margin-bottom: 1em;
    font-weight: bold;
}

@media (max-width: 740px) {
    .t-detail__category {
        margin-bottom: .5em;
        font-weight: bold;
    }
}

.t-detail__date {
    font-size: 0.8666666667em;
}

.t-single {
    width: 58%;
}

.t-single p {
    line-height: 2.0;
}

@media (max-width: 740px) {
    .t-single {
        width: 100%;
    }
}

.t-single__title {
    margin-top: -12px;
    font-size: 2.6666666667em;
    font-weight: bold;
    line-height: 1.6;
}

@media (max-width: 740px) {
    .t-single__title {
        margin: 1em 0 1em 0;
        font-size: 1.6666666667em;
        line-height: 2.0;
    }
}

.t-single__image {
    margin: 3em 0;
}

@media (max-width: 740px) {
    .t-single__image {
        margin: 2em 0;
    }
}

.t-item--cover::after {
    content: "";
    display: block;
    width: 31.08348%;
}
.t-item {
    margin: 6em 0 2em;
}
.t-item__heading {
    text-align: center;
    margin-bottom: 3em;
    font-size: 1.6em;
    font-weight: bold;
}

#business .t-item__heading span {
    padding-bottom: .5em;
    border-bottom: 4px solid #8080F0;
}

#recruiting .t-item__heading span {
    padding-bottom: .5em;
    border-bottom: 4px solid #6BC788;
}

.t-item__title {
    margin: .5em 0;
    font-weight: bold;
}

@media (max-width: 740px) {
    .t-item__title {
        margin: 1em 0 .5em 0;
        font-size: 1.3333333333em;
    }
}

.t-item__summary {
    margin: 1em 0;
    font-size: 0.8666666667em;
}

@media (max-width: 740px) {
    .t-item__summary {
        margin: 1em 0 .5em 0;
        font-size: 1.0833333333em;
    }
}

.t-item__date {
    font-size: 0.8em;
}

@media (max-width: 740px)  {
    .t-item__date {
        margin-bottom: 3em;
        font-size: 1em;
    }
}

/*==============================================
    8-4. PAGENATION
==============================================*/
.t-pagenation--cover {
    position: relative;
    margin-top: 3em;
}

.t-pagenation {
    position: absolute;
    display: inline-block;
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
}

.page-numbers {
    margin: 0 .3em;
    padding-bottom: .3em;
    font-size: 1.3333333333em;
    font-weight: bold;
}

#business .current {
    color: #8080F0;
    border-bottom: 4px solid #8080F0;
}

#recruiting .current {
    color: #6BC788;
    border-bottom: 4px solid #6BC788;
}

.prev, .next {
    display: inline-block;
    margin: 0 auto 0 auto; 
    padding: 0 .3em;
    font-size: 1em;
}

.next {
    position: absolute;
    right: 60px;
}

@media (max-width: 740px) {
    .next {
        right: -10px;
    }
}

.prev {
    position: absolute;
    left: 60px;
}

@media (max-width: 740px) {
    .prev {
        left: -10px;
    }
}

#business .prev::before {
    position: absolute;
    content: '';
    background: transparent url(asset/image/business-prev.png) no-repeat scroll center center;
    background-size: cover;
    width: 22px;
    height: 6px;
    top: 0;
    bottom: 0;
    left: -34px;
    margin: auto 6px auto 0;
}

#business .next::after {
    position: absolute;
    content: '';
    background: transparent url(asset/image/business-next.png) no-repeat scroll center center;
    background-size: cover;
    width: 22px;
    height: 6px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 6px;
}

#recruiting .prev::before {
    position: absolute;
    content: '';
    background: transparent url(asset/image/recruiting-prev.png) no-repeat scroll center center;
    background-size: cover;
    width: 22px;
    height: 6px;
    top: 0;
    bottom: 0;
    left: -34px;
    margin: auto 6px auto 0;
}

#recruiting .next::after {
    position: absolute;
    content: '';
    background: transparent url(asset/image/recruiting-next.png) no-repeat scroll center center;
    background-size: cover;
    width: 22px;
    height: 6px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 6px;
}

@media (max-width: 740px) {
    #business .prev::before {
        top: 20px;
        left: -8px;
    }
    #business .next::after {
        top: 20px;
        right: -6px;
    }
    #recruiting .prev::before {
        top: 20px;
        left: -8px;
    }
    #recruiting .next::after {
        top: 20px;
        right: -6px;
    }
}

.next:hover::after,
.prev:hover::before {
    animation: .8s arrowAnimate linear infinite;
}

/*==============================================
    8-5. INTERVIEW
==============================================*/
.t-interview {
    margin: 210px 0 80px 0; 
}

.t-interview__title {
    z-index: 2;
    position: relative;
    width: 40%;
    margin-bottom: -1em;
}

.t-interview--box {
    margin-bottom: 3em;
}

.t-interview--box img {
    width: 100% !important; 
    height: auto !important;
}

@media (max-width: 740px) {
    .t-interview__title {
        width: 72%;
        margin-bottom: 1em;
    }

    .t-interview--box {
        margin-bottom: 2em;
    }
}

.t-interview__name {
    padding-top: 1em;
    font-size: 0.8em;
    line-height: 1.5;
}

@media (max-width: 740px) {
    .t-interview__name {
        font-size: 1em;
    }
}

/*==============================================
    8-6. TOPICS
==============================================*/
.t-topics {
    background-color: #F3F7FA;
    padding: 3em 0 .6em 0;
}

.screen-reader-text {
display: none;
}