- 
    var page = {
        home : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            title : '株式会社ブリーチ',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        company : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Company 会社と事業について',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        vision : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Vision 採用情報・企業概要',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        service : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Service 採用情報・企業概要',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        //- message : {
        //-     url : 'http://bleach.co.jp/recruit.html',
        //-     name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
        //-     title : '株式会社ブリーチ | Message 代表メッセージ',
        //-     description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
        //-     keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
        //-     type : 'website',
        //-     image : 'http://bleach.co.jp/og.png'
        //- },
        interview_mizutani : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Interview 水谷 慶',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        interview_watanabe : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Interview 渡邉 緑',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        interview_nakamura : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Interview 中村 悠人',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },

        interview_shimizu : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Interview 清水 里沙',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        interview_nishimura : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Interview 柴田 智之',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        interview_suzuki : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Interview 柴田 智之',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        interview_ohira_ceo : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Interview 柴田 智之',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        },
        
        //- information : {
        //-     url : 'http://bleach.co.jp/recruit.html',
        //-     name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
        //-     title : '株式会社ブリーチ | Information 採用情報・企業概要',
        //-     description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
        //-     keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
        //-     type : 'website',
        //-     image : 'http://bleach.co.jp/og.png'
        //- },
        
        recruiting : {
            url : 'http://bleach.co.jp/recruit.html',
            name : '統合型デジタルマーケティングでD2C支援No.1を目指す株式会社ブリーチです。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出していきます。 ',
            title : '株式会社ブリーチ | Recruiting 採用情報・企業概要',
            description : '株式会社ブリーチは「商売を大きく。日本から世界へ、冒険的な成長を。」というビジョンを掲げ、統合型デジタルマーケティングでD2C支援No.1を目指す企業です。私たちは、「ココロを共感させるマーケティング力」と「圧倒的な数字の分析力」、「成果を出す強い意志」を武器に社会のニーズに対して新しい解決策を生み出し続けます。',
            keywords : 'Recruiting,新卒,中途,キャリア,デジタルマーケティング',
            type : 'website',
            image : 'http://bleach.co.jp/og.png'
        }
    }