.l-footer
    .l-footer__backtop: a(href="")
        img(src=rootPath + "image/backtop.png" alt="")

    .l-footer__image: img(src=rootPath + "image/footer-img01.jpg" alt="")

    .l-frame
        .l-frame--md
            .l-col
                .l-footer__link: a.c-ng(href='https://job.mynavi.jp/21/pc/search/corp229819/outline.html', target='_blank')
                    span NEW GRADUATE
                    br
                    |新卒採用エントリー
                .l-footer__link: a.c-mc(href='https://hrmos.co/pages/bleach', target='_blank')
                    span MID-CAREER RECRUITMENT
                    br
                    |中途採用エントリー
    .l-frame
        p.l-footer__text SHARE
        .l-col--sp.l-footer__sns
            .l-footer__sns__item: a(href="http://www.facebook.com/share.php?u=http://bleach.co.jp/recruit.html" target="_blank")
                img(src=rootPath + "image/icon-facebook.png" alt="")
            .l-footer__sns__item: a(href="http://twitter.com/share?&url=http://bleach.co.jp/&hashtags=株式会社ブリーチHP" target="_blank")
                img(src=rootPath + "image/icon-twitter.png" alt="")

    .l-frame
        .l-footer__copyright: small Copyright c BLEACH.Inc.All.Rights.Reserved.