.l-header

    .l-line: span

    h1.l-header__logo: a(href="#" title="株式会社ブリーチ")
            img(src=rootPath + "image/logo.png" alt="株式会社ブリーチ")

    .l-col.l-header__gnav
        .l-nav.l-col
            ul.l-nav__ul.l-nav__ul--main.l-col
                li.l-nav__ul__item: a.bar-home(href=rootPath + "index.html") Home
                li.l-nav__ul__item: a.bar-company(href=rootPath + "company/index.html") Company
                li.l-nav__ul__item: a.bar-vision(href=rootPath + "vision/index.html") Vision
                li.l-nav__ul__item: a.bar-service(href=rootPath + "service/index.html") Service
                li.l-nav__ul__item.l-nav__ul__item--btn Interview
                    span
                    ul.l-nestnav
                        li.l-nestnav__item: a(href=href=rootPath + "interview/ohira.html") 代表取締役社長（大平啓介）
                        li.l-nestnav__item: a(href=href=rootPath + "interview/mizutani.html") マネージャー（水谷慶）
                        li.l-nestnav__item: a(href=href=rootPath + "interview/watanabe.html") マネージャー（渡邉緑）
                        li.l-nestnav__item: a(href=href=rootPath + "interview/nakamura.html") セールスライター（中村悠人）
                        li.l-nestnav__item: a(href=href=rootPath + "interview/shimizu.html") セールスライター（清水里沙）
                        li.l-nestnav__item: a(href=href=rootPath + "interview/nishimura.html") グロースハッカー（西村政晃）
                        li.l-nestnav__item: a(href=href=rootPath + "interview/suzuki.html") セールスライター（鈴木大志）
                li.l-nav__ul__item: a.bar-recruiting(href=rootPath + "recruiting/index.html") Recruiting

        .l-nav.l-col
            ul.l-nav__ul.l-nav__ul--sub.l-col.l-col--sp
                li.l-nav__ul__item.l-nav__ul__item--entry.l-nav__ul__item--bg: a.c-bg(href=rootPath + "blog/") Blog
                li.l-nav__ul__item.l-nav__ul__item--entry.l-nav__ul__item--ng: a.c-ng(href="https://job.mynavi.jp/21/pc/search/corp229819/outline.html", target='_blank') 新卒エントリー
                li.l-nav__ul__item.l-nav__ul__item--entry.l-nav__ul__item--mc: a.c-mc(href="https://hrmos.co/pages/bleach", target='_blank') 中途エントリー