.t-slide.t-slide--3.l-col.l-col--fw
    .t-window.l-col__3(data-interview="ohira")
        .t-window__image: a(href="ohira.html")
            img(src="image/next-ohira.jpg" alt="")
        p.t-window__pos 
            |大平 啓介
            br
            |代表取締役社長

    .t-window.l-col__3(data-interview="watanabe")
        .t-window__image: a(href="watanabe.html")
            img(src="image/next-watanabe.jpg" alt="")
        p.t-window__pos 
            |渡邉 緑
            br
            |マネージャー職

    .t-window.l-col__3(data-interview="mizutani")
        .t-window__image: a(href="mizutani.html")
            img(src="image/next-mizutani.jpg" alt="")
        p.t-window__pos 
            |水谷 慶
            br
            |マネージャー職

    .t-window.l-col__3(data-interview="nakamura")
        .t-window__image: a(href="nakamura.html")
            img(src="image/next-nakamura.jpg" alt="")
        p.t-window__pos 
            |中村 悠人
            br
            |セールスライター職

    .t-window.l-col__3(data-interview="nishimura")
        .t-window__image: a(href="nishimura.html")
            img(src="image/next-nishimura.jpg" alt="")
        p.t-window__pos 
            |西村 政晃
            br
            |グロースハッカー職

    .t-window.l-col__3(data-interview="shimizu")
        .t-window__image: a(href="shimizu.html")
            img(src="image/next-shimizu.jpg" alt="")
        p.t-window__pos 
            |清水 里沙
            br
            |セールスライター職

    .t-window.l-col__3(data-interview="suzuki")
        .t-window__image: a(href="suzuki.html")
            img(src="image/next-suzuki.jpg" alt="")
        p.t-window__pos 
            |鈴木 大志
            br
            |セールスライター職