// main title
title #{page.title}
// meta tags
meta(name="description" content=page.description)
meta(property="og:title" content=page.title)
meta(property="og:type" content=page.type)
meta(property="og:image" content=page.image)
meta(property="og:url" content=page.url)
meta(property="og:description" content=page.description)
// favicon
link(rel="shortcut icon" href=rootPath + "favicon.ico" type="image/x-icon" )
// google fonts
link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")