script(src=rootPath + "asset/js/min/jquery-3.1.1.min.js")
script(src=rootPath + "asset/js/min/velocity.min.js")
script(src=rootPath + "asset/js/min/jquery.inview.min.js")
script(src=rootPath + "asset/js/common.js")